## 인구와 점포수 시각화
* 연도별 생활인구와 점포수 비교
 - 2017
 - 2018
 - 2019
* 연도별 가구수와 점포수 비교

In [9]:
import chart_studio.plotly as py
import pandas as pd
import cufflinks as cf
cf.go_offline(connected=True)
import plotly.offline as pyo
import plotly.graph_objs as go

In [24]:
# 생활인구 데이터 불러오기
life_pop = pd.read_csv('./visualization/data/sum_life_pop.csv', encoding='UTF8', index_col=0, thousands=',')

In [29]:
life_pop = life_pop[['총생활인구수', '주간인구수09_18', '야간인구수19_08']]
life_pop

                 총생활인구수    주간인구수09_18     야간인구수19_08
행정구역(구별)
종로구       347208.422083  4.361764e+05  283541.068368
중구        370155.865168  4.793979e+05  292007.050697
용산구       326885.430102  3.536009e+05  307690.470402
성동구       365760.531594  3.735405e+05  360078.614480
광진구       410456.427323  3.945696e+05  421659.379991
동대문구      398080.776031  3.971276e+05  398623.971255
중랑구       365650.472271  3.351247e+05  387326.522577
성북구       452799.039847  4.299294e+05  468978.314353
강북구       307736.071700  2.822994e+05  325796.564050
도봉구       291633.585823  2.701874e+05  306849.109631
노원구       529509.115087  4.983665e+05  551570.879311
은평구       449599.169899  4.076522e+05  479403.891335
서대문구      414597.253554  4.232374e+05  408285.921177
마포구       512546.125802  5.336824e+05  497269.300024
양천구       401637.290783  3.762563e+05  419628.056493
강서구       561365.794062  5.359306e+05  579339.376604
구로구       429327.760172  4.235983e+05  433271.939227
금천구       241021.001066  2.568015e+05  229668.617513
영등포구      522076.413905  5.736977e+05  485027.313939
동작구       425396.290929  4.002456e+05  443213.157985
관악구       518326.533673  4.694535e+05  553052.451163
서초구       622170.357147  7.097950e+05  559373.670746
강남구       853890.397244  1.006888e+06  744330.267600
송파구       779117.610282  7.829674e+05  776101.829471
강동구       491137.768413  4.621992e+05  511638.613855

In [80]:
# 점포수 데이터 불러오기
sales17 = pd.read_csv('./visualization/data/2017seoul_sales.csv', encoding='UTF8', index_col=0)
sales18 = pd.read_csv('./visualization/data/2017seoul_sales.csv', encoding='UTF8', index_col=0)
sales19 = pd.read_csv('./visualization/data/2017seoul_sales.csv', encoding='UTF8', index_col=0)

In [81]:
sales17

,상권코드,시군구코드,상권구분코드명,업태구분명,점포수,남성매출비율,여성매출비율,10대매출비율,20대매출비율,30대매출_비율,...,1721매출비율,2124매출비율,남성매출건수,여성매출건수,10대매출건수,20대매출건수,30대매출건수,40대매출건수,50대매출건수,60대이상매출건수
기준년코드,,,,,,,,,,,,,,,,,,,,,
2017,1000973,11740,골목상권,패스트푸드,1,43,57,1,21,31,...,51,10,1009,1324,23,487,733,609,310,171
2017,1000973,11740,골목상권,한식,18,59,41,1,17,23,...,41,16,4595,3481,94,1650,2209,1898,1431,800
2017,1000973,11740,골목상권,분식,2,42,58,4,15,28,...,38,3,2700,2900,98,606,1443,1082,1901,475
2017,1000973,11740,골목상권,치킨,4,57,44,1,22,22,...,48,29,1485,955,32,897,693,528,236,54
2017,1000973,11740,골목상권,카페,5,46,55,2,36,31,...,30,11,4469,6104,207,3674,3401,1832,1083,376
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017,1001337,11260,전통시장,중식,1,58,42,2,27,18,...,36,2,1117,789,32,503,340,492,355,184
2017,1001337,11260,전통시장,중식,1,60,40,2,26,22,...,34,1,1063,713,30,467,395,458,322,107
2017,1001337,11260,전통시장,중식,1,54,46,2,28,18,...,33,1,1047,887,44,552,354,560,295,130
2017,1001472,11680,전통시장,한식,3,41,59,2,45,41,...,28,34,757,1183,37,831,849,141,59,21
2017,1001472,11680,전통시장,한식,3,41,59,1,30,39,...,32,32,278,442,15,272,233,120,74,6

In [52]:
sales17.columns

Index(['상권코드', '시군구코드', '상권구분코드명', '업태구분명', '점포수', '남성매출비율', '여성매출비율',
       '10대매출비율', '20대매출비율', '30대매출_비율', '40대매출비율', '50대매출비율', '60대이상매출비율',
       '남성매출금액', '여성매출금액', '10대매출금액', '20대매출금액', '30대매출금액', '40대매출금액',
       '50대매출금액', '60대이상매출금액', '0006매출비율', '0611매출비율', '1114매출비율', '1417매출비율',
       '1721매출비율', '2124매출비율', '남성매출건수', '여성매출건수', '10대매출건수', '20대매출건수',
       '30대매출건수', '40대매출건수', '50대매출건수', '60대이상매출건수'],
      dtype='object')

In [76]:
# '시군구코드' 컬럼과 '업태구분명' 컬럼으로 그룹화
groups_17 = sales17.groupby(['상권코드', '시군구코드', '업태구분명', '점포수'])

In [77]:
groups_17.size()

상권코드     시군구코드  업태구분명  점포수
1000001  11110  분식     4      1
                       5      3
                양식     6      3
                       7      1
                일식     3      2
                             ..
1001496  11680  패스트푸드  15     3
                       16     1
                한식     44     1
                       45     2
                       47     1
Length: 16411, dtype: int64

In [78]:
print(type(groups_17))

<class 'pandas.core.groupby.generic.DataFrameGroupBy'>

In [86]:
# 그룹화한 결과를 데이터프레임으로 변환 - 구별로
jongno_sales_17 = sales17[sales17['시군구코드'] == 11110] # 종로구
jung_sales_17 = sales17[sales17['시군구코드'] == 11140] # 중구
yongsan_sales_17 = sales17[sales17['시군구코드'] == 11170] #용산구
seongdong_sales_17 = sales17[sales17['시군구코드'] == 11200] #성동구
gwangjin_sales_17 = sales17[sales17['시군구코드'] == 11215] #광진구
dongdaemun_sales_17 = sales17[sales17['시군구코드'] == 11230] #동대문구
jungrang_sales_17 = sales17[sales17['시군구코드'] == 11260] #중랑구
seongbuk_sales_17 = sales17[sales17['시군구코드'] == 11290] #성북구
gangbuk_sales_17 = sales17[sales17['시군구코드'] == 11305] #강북구
dobong_sales_17 = sales17[sales17['시군구코드'] == 11320] #도봉구
nowon_sales_17 = sales17[sales17['시군구코드'] == 11350] #노원구
eunpyung_sales_17 = sales17[sales17['시군구코드'] == 11380] #은평구
seodaemun_sales_17 = sales17[sales17['시군구코드'] == 11410] #서대문구
mapo_sales_17 = sales17[sales17['시군구코드'] == 11440] #마포구
yangchun_sales_17 = sales17[sales17['시군구코드'] == 11470] #양천구
gangseo_sales_17 = sales17[sales17['시군구코드'] == 11500] #강서구
guro_sales_17 = sales17[sales17['시군구코드'] == 11530] #구로구
guemchun_sales_17 = sales17[sales17['시군구코드'] == 11545] #금천구
yongdeungpo_sales_17 = sales17[sales17['시군구코드'] == 11560] #영등포구
dongjak_sales_17 = sales17[sales17['시군구코드'] == 11590] #동작구
gwanak_sales_17 = sales17[sales17['시군구코드'] == 11620] #관악구
seocho_sales_17 = sales17[sales17['시군구코드'] == 11650] #서초구
gangnam_sales_17 = sales17[sales17['시군구코드'] == 11680] #강남구
songpa_sales_17 = sales17[sales17['시군구코드'] == 11710] #송파구
gangdong_sales_17 = sales17[sales17['시군구코드'] == 11740] #강동구

In [109]:
# 구별로 '업태구분명', '점포수' 컬럼만 추출
# 업태
jongno_sales_17 = jongno_sales_17[['업태구분명', '점포수']]
jongno_uptae_17 = jongno_sales_17['업태구분명'].value_counts()
# 업태별로 점포수의 합계 구하기
a = jongno_sales_17[jongno_sales_17['업태구분명'] == '한식']
a['점포수'].sum()
b = jongno_sales_17[jongno_sales_17['업태구분명'] == '카페']
b['점포수'].sum()
c = jongno_sales_17[jongno_sales_17['업태구분명'] == '분식']
c['점포수'].sum()

2853

In [94]:
jongno_uptae_17

한식       244
카페       226
분식       213
주점       196
중식       172
양식       169
패스트푸드    139
치킨       126
일식       126
Name: 업태구분명, dtype: int64

In [ ]:
jongno_uptae = {'한식' : 11892, '카페': 3702, '분식': 2853, '주점':, '중식': , '양식': , '패스트푸드': ,
               '치킨': , '일식':  }

In [38]:
# sales2017에서 업태별로 카운트
uptae17 = sales17['업태구분명'].value_counts()
uptae17

한식       5812
카페       5047
분식       4994
주점       4962
치킨       4099
중식       3880
패스트푸드    3117
일식       2755
양식       2498
Name: 업태구분명, dtype: int64

In [32]:
sales17.columns

Index(['상권코드', '시군구코드', '상권구분코드명', '업태구분명', '점포수', '남성매출비율', '여성매출비율',
       '10대매출비율', '20대매출비율', '30대매출_비율', '40대매출비율', '50대매출비율', '60대이상매출비율',
       '남성매출금액', '여성매출금액', '10대매출금액', '20대매출금액', '30대매출금액', '40대매출금액',
       '50대매출금액', '60대이상매출금액', '0006매출비율', '0611매출비율', '1114매출비율', '1417매출비율',
       '1721매출비율', '2124매출비율', '남성매출건수', '여성매출건수', '10대매출건수', '20대매출건수',
       '30대매출건수', '40대매출건수', '50대매출건수', '60대이상매출건수'],
      dtype='object')