In [25]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity="all"
import pandas as pd
import numpy as np

In [26]:
pop = pd.read_csv('seoulpop_by5.csv', encoding = 'euc-kr')

In [27]:
pop

,행정구역(동읍면)별,5세별,2017,2017.1,2017.2,2018,2018.1,2018.2,2019,2019.1,2019.2
0,행정구역(동읍면)별,5세별,총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명)
1,서울특별시,계,9857426,4830206,5027220,9765623,4773899,4991724,9729107,4744059,4985048
2,서울특별시,0 - 4세,350277,179376,170901,324470,166475,157995,300799,154742,146057
3,서울특별시,5 - 9세,378185,193977,184208,365898,187506,178392,361894,185592,176302
4,서울특별시,10 - 14세,390804,201424,189380,380366,196113,184253,370557,190760,179797
...,...,...,...,...,...,...,...,...,...,...,...
568,강동구,80 - 84세,5609,2010,3599,5974,2267,3707,6467,2579,3888
569,강동구,85 - 89세,2927,772,2155,2956,837,2119,3145,908,2237
570,강동구,90 - 94세,1127,227,900,1220,238,982,1351,287,1064
571,강동구,95 - 99세,302,75,227,342,77,265,366,80,286
572,강동구,100+,206,52,154,210,52,158,228,59,169

In [28]:
index = pop[pop['행정구역(동읍면)별'] == '서울특별시'].index
pop.drop(index, inplace=True)
pop.head()

,행정구역(동읍면)별,5세별,2017,2017.1,2017.2,2018,2018.1,2018.2,2019,2019.1,2019.2
0,행정구역(동읍면)별,5세별,총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명)
23,종로구,계,154770,75967,78803,153065,74825,78240,151290,73746,77544
24,종로구,0 - 4세,4111,2086,2025,3873,1966,1907,3540,1780,1760
25,종로구,5 - 9세,4892,2490,2402,4715,2414,2301,4671,2363,2308
26,종로구,10 - 14세,5413,2780,2633,5316,2708,2608,5153,2617,2536

In [29]:
pop.columns = ['행정구역(구별)', '연령대','2017총인구', '2017남자인구','2017여자인구',
            '2018총인구','2018남자인구','2018여자인구','2019총인구','2019남자인구','2019여자인구']

In [30]:
pop.drop(index=0, axis=0, inplace=True)

In [31]:
pop

,행정구역(구별),연령대,2017총인구,2017남자인구,2017여자인구,2018총인구,2018남자인구,2018여자인구,2019총인구,2019남자인구,2019여자인구
23,종로구,계,154770,75967,78803,153065,74825,78240,151290,73746,77544
24,종로구,0 - 4세,4111,2086,2025,3873,1966,1907,3540,1780,1760
25,종로구,5 - 9세,4892,2490,2402,4715,2414,2301,4671,2363,2308
26,종로구,10 - 14세,5413,2780,2633,5316,2708,2608,5153,2617,2536
27,종로구,15 - 19세,7565,3806,3759,7067,3550,3517,6595,3315,3280
...,...,...,...,...,...,...,...,...,...,...,...
568,강동구,80 - 84세,5609,2010,3599,5974,2267,3707,6467,2579,3888
569,강동구,85 - 89세,2927,772,2155,2956,837,2119,3145,908,2237
570,강동구,90 - 94세,1127,227,900,1220,238,982,1351,287,1064
571,강동구,95 - 99세,302,75,227,342,77,265,366,80,286
572,강동구,100+,206,52,154,210,52,158,228,59,169

In [32]:
a=list() 

for i in pop['연령대'] :
    if i[-1] == '+' :
        i = '100세이상'
    elif i[0] == '0' :
        i = '10대미만'
    elif i[:] == '5 - 9세':
        i = '10대미만'
    elif i[0] == '1' :
        i = '10대'
    elif i[0] == '2' :
        i = '20대'
    elif i[0] == '3' :
        i = '30대'
    elif i[0] == '4' :
        i = '40대'
    elif i[0] == '5' :
        i = '50대'
    elif i[0] == '6' :
        i = '60대'
    elif i[0] == '7' :
        i = '70대'
    elif i[0] == '8' :
        i = '80대'
    elif i[0] == '9' :
        i = '90대'
    a.append(i)
    
pop['연령대2'] = a

In [33]:
pop.head(50)

,행정구역(구별),연령대,2017총인구,2017남자인구,2017여자인구,2018총인구,2018남자인구,2018여자인구,2019총인구,2019남자인구,2019여자인구,연령대2
23,종로구,계,154770,75967,78803,153065,74825,78240,151290,73746,77544,계
24,종로구,0 - 4세,4111,2086,2025,3873,1966,1907,3540,1780,1760,10대미만
25,종로구,5 - 9세,4892,2490,2402,4715,2414,2301,4671,2363,2308,10대미만
26,종로구,10 - 14세,5413,2780,2633,5316,2708,2608,5153,2617,2536,10대
27,종로구,15 - 19세,7565,3806,3759,7067,3550,3517,6595,3315,3280,10대
28,종로구,20 - 24세,11524,5673,5851,11176,5416,5760,10924,5185,5739,20대
29,종로구,25 - 29세,12383,6490,5893,12589,6511,6078,12648,6499,6149,20대
30,종로구,30 - 34세,10662,5379,5283,10348,5183,5165,10172,5080,5092,30대
31,종로구,35 - 39세,10771,5271,5500,10883,5340,5543,10204,5006,5198,30대
32,종로구,40 - 44세,11112,5329,5783,10259,4915,5344,9981,4802,5179,40대
33,종로구,45 - 49세,13960,6934,7026,13590,6691,6899,13096,6420,6676,40대
34,종로구,50 - 54세,12815,6448,6367,12787,6354,6433,12768,6361,6407,50대
35,종로구,55 - 59세,13042,6677,6365,12957,6577,6380,12946,6571,6375,50대
36,종로구,60 - 64세,10490,5248,5242,10933,5518,5415,11274,5698,5576,60대
37,종로구,65 - 69세,7568,3532,4036,7648,3639,4009,7854,3788,4066,60대
38,종로구,70 - 74세,6581,2919,3662,6569,2913,3656,6702,2993,3709,70대
39,종로구,75 - 79세,5858,2609,3249,5948,2663,3285,5836,2559,3277,70대
40,종로구,80 - 84세,3320,1345,1975,3538,1459,2079,3836,1604,2232,80대
41,종로구,85 - 89세,1602,575,1027,1678,601,1077,1837,670,1167,80대
42,종로구,90 - 94세,625,215,410,691,228,463,725,242,483,90대
43,종로구,95 - 99세,250,95,155,269,106,163,275,111,164,90대
44,종로구,100+,226,66,160,231,73,158,253,82,171,100세이상
45,중구,계,125709,62253,63456,125725,61947,63778,126171,61910,64261,계
46,중구,0 - 4세,4139,2094,2045,3893,1925,1968,3693,1878,1815,10대미만
47,중구,5 - 9세,3788,1897,1891,3704,1881,1823,3696,1880,1816,10대미만
48,중구,10 - 14세,3379,1662,1717,3282,1622,1660,3154,1578,1576,10대
49,중구,15 - 19세,4750,2462,2288,4411,2278,2133,4154,2144,2010,10대
50,중구,20 - 24세,7986,3918,4068,7866,3772,4094,7682,3605,4077,20대
51,중구,25 - 29세,10116,5083,5033,10401,5178,5223,10791,5332,5459,20대
52,중구,30 - 34세,9984,5014,4970,10092,5025,5067,10202,5081,5121,30대
53,중구,35 - 39세,10411,5334,5077,10678,5407,5271,10460,5263,5197,30대
54,중구,40 - 44세,9206,4730,4476,8784,4559,4225,8678,4466,4212,40대
55,중구,45 - 49세,10595,5483,5112,10184,5217,4967,9813,4942,4871,40대
56,중구,50 - 54세,9997,5102,4895,10085,5107,4978,10229,5209,5020,50대
57,중구,55 - 59세,11025,5607,5418,10939,5627,5312,10727,5454,5273,50대
58,중구,60 - 64세,9185,4661,4524,9656,4851,4805,9918,4997,4921,60대
59,중구,65 - 69세,6560,3182,3378,6620,3220,3400,7030,3456,3574,60대
60,중구,70 - 74세,5294,2412,2882,5423,2466,2957,5671,2582,3089,70대
61,중구,75 - 79세,4538,1962,2576,4641,2038,2603,4709,2054,2655,70대
62,중구,80 - 84세,2611,958,1653,2770,1050,1720,3037,1198,1839,80대
63,중구,85 - 89세,1313,434,879,1403,450,953,1505,478,1027,80대
64,중구,90 - 94세,505,155,350,533,164,369,631,193,438,90대
65,중구,95 - 99세,161,56,105,181,55,126,204,59,145,90대
66,중구,100+,166,47,119,179,55,124,187,61,126,100세이상
67,용산구,계,229161,110878,118283,228999,110640,118359,228670,110356,118314,계
68,용산구,0 - 4세,7545,3907,3638,7154,3734,3420,6808,3541,3267,10대미만
69,용산구,5 - 9세,7765,3942,3823,7552,3867,3685,7324,3769,3555,10대미만
70,용산구,10 - 14세,7864,4009,3855,7532,3822,3710,7307,3687,3620,10대
71,용산구,15 - 19세,10144,5257,4887,9617,4909,4708,9084,4676,4408,10대
72,용산구,20 - 24세,13997,6789,7208,13886,6622,7264,13682,6437,7245,20대

In [34]:
del pop['연령대']

In [35]:
pop = pop[['행정구역(구별)', '연령대2','2017총인구', '2017남자인구', '2017여자인구', '2018총인구', '2018남자인구',
          '2018여자인구','2019총인구','2019남자인구','2019여자인구']]

In [36]:
pop = pop.rename(columns={'연령대2' : '연령대'})

In [37]:
pop.reset_index(inplace = True)

In [38]:
del pop['index']

In [39]:
pop.head(30)

,행정구역(구별),연령대,2017총인구,2017남자인구,2017여자인구,2018총인구,2018남자인구,2018여자인구,2019총인구,2019남자인구,2019여자인구
0,종로구,계,154770,75967,78803,153065,74825,78240,151290,73746,77544
1,종로구,10대미만,4111,2086,2025,3873,1966,1907,3540,1780,1760
2,종로구,10대미만,4892,2490,2402,4715,2414,2301,4671,2363,2308
3,종로구,10대,5413,2780,2633,5316,2708,2608,5153,2617,2536
4,종로구,10대,7565,3806,3759,7067,3550,3517,6595,3315,3280
5,종로구,20대,11524,5673,5851,11176,5416,5760,10924,5185,5739
6,종로구,20대,12383,6490,5893,12589,6511,6078,12648,6499,6149
7,종로구,30대,10662,5379,5283,10348,5183,5165,10172,5080,5092
8,종로구,30대,10771,5271,5500,10883,5340,5543,10204,5006,5198
9,종로구,40대,11112,5329,5783,10259,4915,5344,9981,4802,5179
10,종로구,40대,13960,6934,7026,13590,6691,6899,13096,6420,6676
11,종로구,50대,12815,6448,6367,12787,6354,6433,12768,6361,6407
12,종로구,50대,13042,6677,6365,12957,6577,6380,12946,6571,6375
13,종로구,60대,10490,5248,5242,10933,5518,5415,11274,5698,5576
14,종로구,60대,7568,3532,4036,7648,3639,4009,7854,3788,4066
15,종로구,70대,6581,2919,3662,6569,2913,3656,6702,2993,3709
16,종로구,70대,5858,2609,3249,5948,2663,3285,5836,2559,3277
17,종로구,80대,3320,1345,1975,3538,1459,2079,3836,1604,2232
18,종로구,80대,1602,575,1027,1678,601,1077,1837,670,1167
19,종로구,90대,625,215,410,691,228,463,725,242,483
20,종로구,90대,250,95,155,269,106,163,275,111,164
21,종로구,100세이상,226,66,160,231,73,158,253,82,171
22,중구,계,125709,62253,63456,125725,61947,63778,126171,61910,64261
23,중구,10대미만,4139,2094,2045,3893,1925,1968,3693,1878,1815
24,중구,10대미만,3788,1897,1891,3704,1881,1823,3696,1880,1816
25,중구,10대,3379,1662,1717,3282,1622,1660,3154,1578,1576
26,중구,10대,4750,2462,2288,4411,2278,2133,4154,2144,2010
27,중구,20대,7986,3918,4068,7866,3772,4094,7682,3605,4077
28,중구,20대,10116,5083,5033,10401,5178,5223,10791,5332,5459
29,중구,30대,9984,5014,4970,10092,5025,5067,10202,5081,5121

In [40]:
pop.drop(pop[pop['연령대'] == '계'].index, inplace = True)

In [41]:
pop.drop(pop[pop['연령대'] == '100세이상'].index, inplace = True)

In [42]:
pop.head(50)

,행정구역(구별),연령대,2017총인구,2017남자인구,2017여자인구,2018총인구,2018남자인구,2018여자인구,2019총인구,2019남자인구,2019여자인구
1,종로구,10대미만,4111,2086,2025,3873,1966,1907,3540,1780,1760
2,종로구,10대미만,4892,2490,2402,4715,2414,2301,4671,2363,2308
3,종로구,10대,5413,2780,2633,5316,2708,2608,5153,2617,2536
4,종로구,10대,7565,3806,3759,7067,3550,3517,6595,3315,3280
5,종로구,20대,11524,5673,5851,11176,5416,5760,10924,5185,5739
6,종로구,20대,12383,6490,5893,12589,6511,6078,12648,6499,6149
7,종로구,30대,10662,5379,5283,10348,5183,5165,10172,5080,5092
8,종로구,30대,10771,5271,5500,10883,5340,5543,10204,5006,5198
9,종로구,40대,11112,5329,5783,10259,4915,5344,9981,4802,5179
10,종로구,40대,13960,6934,7026,13590,6691,6899,13096,6420,6676
11,종로구,50대,12815,6448,6367,12787,6354,6433,12768,6361,6407
12,종로구,50대,13042,6677,6365,12957,6577,6380,12946,6571,6375
13,종로구,60대,10490,5248,5242,10933,5518,5415,11274,5698,5576
14,종로구,60대,7568,3532,4036,7648,3639,4009,7854,3788,4066
15,종로구,70대,6581,2919,3662,6569,2913,3656,6702,2993,3709
16,종로구,70대,5858,2609,3249,5948,2663,3285,5836,2559,3277
17,종로구,80대,3320,1345,1975,3538,1459,2079,3836,1604,2232
18,종로구,80대,1602,575,1027,1678,601,1077,1837,670,1167
19,종로구,90대,625,215,410,691,228,463,725,242,483
20,종로구,90대,250,95,155,269,106,163,275,111,164
23,중구,10대미만,4139,2094,2045,3893,1925,1968,3693,1878,1815
24,중구,10대미만,3788,1897,1891,3704,1881,1823,3696,1880,1816
25,중구,10대,3379,1662,1717,3282,1622,1660,3154,1578,1576
26,중구,10대,4750,2462,2288,4411,2278,2133,4154,2144,2010
27,중구,20대,7986,3918,4068,7866,3772,4094,7682,3605,4077
28,중구,20대,10116,5083,5033,10401,5178,5223,10791,5332,5459
29,중구,30대,9984,5014,4970,10092,5025,5067,10202,5081,5121
30,중구,30대,10411,5334,5077,10678,5407,5271,10460,5263,5197
31,중구,40대,9206,4730,4476,8784,4559,4225,8678,4466,4212
32,중구,40대,10595,5483,5112,10184,5217,4967,9813,4942,4871
33,중구,50대,9997,5102,4895,10085,5107,4978,10229,5209,5020
34,중구,50대,11025,5607,5418,10939,5627,5312,10727,5454,5273
35,중구,60대,9185,4661,4524,9656,4851,4805,9918,4997,4921
36,중구,60대,6560,3182,3378,6620,3220,3400,7030,3456,3574
37,중구,70대,5294,2412,2882,5423,2466,2957,5671,2582,3089
38,중구,70대,4538,1962,2576,4641,2038,2603,4709,2054,2655
39,중구,80대,2611,958,1653,2770,1050,1720,3037,1198,1839
40,중구,80대,1313,434,879,1403,450,953,1505,478,1027
41,중구,90대,505,155,350,533,164,369,631,193,438
42,중구,90대,161,56,105,181,55,126,204,59,145
45,용산구,10대미만,7545,3907,3638,7154,3734,3420,6808,3541,3267
46,용산구,10대미만,7765,3942,3823,7552,3867,3685,7324,3769,3555
47,용산구,10대,7864,4009,3855,7532,3822,3710,7307,3687,3620
48,용산구,10대,10144,5257,4887,9617,4909,4708,9084,4676,4408
49,용산구,20대,13997,6789,7208,13886,6622,7264,13682,6437,7245
50,용산구,20대,17996,8864,9132,18629,9144,9485,19155,9393,9762
51,용산구,30대,18542,9291,9251,18468,9231,9237,18588,9226,9362
52,용산구,30대,19474,9642,9832,19817,9878,9939,19445,9751,9694
53,용산구,40대,17812,8764,9048,16858,8282,8576,16541,8099,8442
54,용산구,40대,20629,10280,10349,20272,10000,10272,19618,9699,9919

In [70]:
# 위에서 몇개의 행을 삭제하면서 인덱스가 연속적이지 않음
# index가 연속되도록 재설정(1~500)
pop.index = range(1,len(pop.index)+1)
pop

,행정구역(구별),연령대,2017총인구,2017남자인구,2017여자인구,2018총인구,2018남자인구,2018여자인구,2019총인구,2019남자인구,2019여자인구
1,종로구,10대미만,4111,2086,2025,3873,1966,1907,3540,1780,1760
2,종로구,10대미만,4892,2490,2402,4715,2414,2301,4671,2363,2308
3,종로구,10대,5413,2780,2633,5316,2708,2608,5153,2617,2536
4,종로구,10대,7565,3806,3759,7067,3550,3517,6595,3315,3280
5,종로구,20대,11524,5673,5851,11176,5416,5760,10924,5185,5739
...,...,...,...,...,...,...,...,...,...,...,...
496,강동구,70대,10127,4744,5383,10585,5000,5585,11227,5335,5892
497,강동구,80대,5609,2010,3599,5974,2267,3707,6467,2579,3888
498,강동구,80대,2927,772,2155,2956,837,2119,3145,908,2237
499,강동구,90대,1127,227,900,1220,238,982,1351,287,1064
500,강동구,90대,302,75,227,342,77,265,366,80,286

In [55]:
# pop 데이터프레임에서 컬럼명만 추출
pop.columns

# 반복문(for문)을 활용하여 원하는 열(2017총인구 ~ 2019여자인구)만 속성값을 object -> int 형변환 
for column in pop.columns[2:]:
    pop[column] = pop[column].astype('int')
pop.info()

Index(['행정구역(구별)', '연령대', '2017총인구', '2017남자인구', '2017여자인구', '2018총인구',
       '2018남자인구', '2018여자인구', '2019총인구', '2019남자인구', '2019여자인구'],
      dtype='object')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 1 to 500
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   행정구역(구별)  500 non-null    object
 1   연령대       500 non-null    object
 2   2017총인구   500 non-null    int64
 3   2017남자인구  500 non-null    int64
 4   2017여자인구  500 non-null    int64
 5   2018총인구   500 non-null    int64
 6   2018남자인구  500 non-null    int64
 7   2018여자인구  500 non-null    int64
 8   2019총인구   500 non-null    int64
 9   2019남자인구  500 non-null    int64
 10  2019여자인구  500 non-null    int64
dtypes: int64(9), object(2)
memory usage: 43.1+ KB
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>

In [121]:
pop_new1 = pd.DataFrame()

In [122]:
# 행정구역(구별)
gu = []

# 연령대
ages = []

for i in pop.index[::2]:
#     print(i)
    gu.append(pop['행정구역(구별)'][i])
    ages.append(pop['연령대'][i])

In [123]:
pop_new1['행정구역별(구별)'] = gu
pop_new1['연령대'] = ages

In [124]:
pop_new1

    행정구역별(구별)    연령대
0         종로구  10대미만
1         종로구    10대
2         종로구    20대
3         종로구    30대
4         종로구    40대
..        ...    ...
245       강동구    50대
246       강동구    60대
247       강동구    70대
248       강동구    80대
249       강동구    90대

[250 rows x 2 columns]

In [119]:
# 구별로 20개씩 행이 반복된다
# 20개씩 잘라서 계산 실행해서 새로운 데이터 프레임에 추가
pop_new2 = pd.DataFrame()
for i in pop.index[:250]:
    row = 2*i
    sum_ = pop.loc[row-1,'2017총인구':'2019여자인구']+pop.loc[row,'2017총인구':'2019여자인구']
    sum_.astype('int')
    pop_new2 = pop_new2.append(sum_,ignore_index=True)

2017총인구     9003
2017남자인구    4576
2017여자인구    4427
2018총인구     8588
2018남자인구    4380
2018여자인구    4208
2019총인구     8211
2019남자인구    4143
2019여자인구    4068
dtype: int64

2017총인구     12978
2017남자인구     6586
2017여자인구     6392
2018총인구     12383
2018남자인구     6258
2018여자인구     6125
2019총인구     11748
2019남자인구     5932
2019여자인구     5816
dtype: int64

2017총인구     23907
2017남자인구    12163
2017여자인구    11744
2018총인구     23765
2018남자인구    11927
2018여자인구    11838
2019총인구     23572
2019남자인구    11684
2019여자인구    11888
dtype: int64

2017총인구     21433
2017남자인구    10650
2017여자인구    10783
2018총인구     21231
2018남자인구    10523
2018여자인구    10708
2019총인구     20376
2019남자인구    10086
2019여자인구    10290
dtype: int64

2017총인구     25072
2017남자인구    12263
2017여자인구    12809
2018총인구     23849
2018남자인구    11606
2018여자인구    12243
2019총인구     23077
2019남자인구    11222
2019여자인구    11855
dtype: int64

2017총인구     25857
2017남자인구    13125
2017여자인구    12732
2018총인구     25744
2018남자인구    12931
2018여자인구    12813
2019총인구     25714
2019남자인구    12932
2019여자인구    12782
dtype: int64

2017총인구     18058
2017남자인구     8780
2017여자인구     9278
2018총인구     18581
2018남자인구     9157
2018여자인구     9424
2019총인구     19128
2019남자인구     9486
2019여자인구     9642
dtype: int64

2017총인구     12439
2017남자인구     5528
2017여자인구     6911
2018총인구     12517
2018남자인구     5576
2018여자인구     6941
2019총인구     12538
2019남자인구     5552
2019여자인구     6986
dtype: int64

2017총인구     4922
2017남자인구    1920
2017여자인구    3002
2018총인구     5216
2018남자인구    2060
2018여자인구    3156
2019총인구     5673
2019남자인구    2274
2019여자인구    3399
dtype: int64

2017총인구      875
2017남자인구     310
2017여자인구     565
2018총인구      960
2018남자인구     334
2018여자인구     626
2019총인구     1000
2019남자인구     353
2019여자인구     647
dtype: int64

2017총인구     7927
2017남자인구    3991
2017여자인구    3936
2018총인구     7597
2018남자인구    3806
2018여자인구    3791
2019총인구     7389
2019남자인구    3758
2019여자인구    3631
dtype: int64

2017총인구     8129
2017남자인구    4124
2017여자인구    4005
2018총인구     7693
2018남자인구    3900
2018여자인구    3793
2019총인구     7308
2019남자인구    3722
2019여자인구    3586
dtype: int64

2017총인구     18102
2017남자인구     9001
2017여자인구     9101
2018총인구     18267
2018남자인구     8950
2018여자인구     9317
2019총인구     18473
2019남자인구     8937
2019여자인구     9536
dtype: int64

2017총인구     20395
2017남자인구    10348
2017여자인구    10047
2018총인구     20770
2018남자인구    10432
2018여자인구    10338
2019총인구     20662
2019남자인구    10344
2019여자인구    10318
dtype: int64

2017총인구     19801
2017남자인구    10213
2017여자인구     9588
2018총인구     18968
2018남자인구     9776
2018여자인구     9192
2019총인구     18491
2019남자인구     9408
2019여자인구     9083
dtype: int64

2017총인구     21022
2017남자인구    10709
2017여자인구    10313
2018총인구     21024
2018남자인구    10734
2018여자인구    10290
2019총인구     20956
2019남자인구    10663
2019여자인구    10293
dtype: int64

2017총인구     15745
2017남자인구     7843
2017여자인구     7902
2018총인구     16276
2018남자인구     8071
2018여자인구     8205
2019총인구     16948
2019남자인구     8453
2019여자인구     8495
dtype: int64

2017총인구      9832
2017남자인구     4374
2017여자인구     5458
2018총인구     10064
2018남자인구     4504
2018여자인구     5560
2019총인구     10380
2019남자인구     4636
2019여자인구     5744
dtype: int64

2017총인구     3924
2017남자인구    1392
2017여자인구    2532
2018총인구     4173
2018남자인구    1500
2018여자인구    2673
2019총인구     4542
2019남자인구    1676
2019여자인구    2866
dtype: int64

2017총인구     666
2017남자인구    211
2017여자인구    455
2018총인구     714
2018남자인구    219
2018여자인구    495
2019총인구     835
2019남자인구    252
2019여자인구    583
dtype: int64

2017총인구     15310
2017남자인구     7849
2017여자인구     7461
2018총인구     14706
2018남자인구     7601
2018여자인구     7105
2019총인구     14132
2019남자인구     7310
2019여자인구     6822
dtype: int64

2017총인구     18008
2017남자인구     9266
2017여자인구     8742
2018총인구     17149
2018남자인구     8731
2018여자인구     8418
2019총인구     16391
2019남자인구     8363
2019여자인구     8028
dtype: int64

2017총인구     31993
2017남자인구    15653
2017여자인구    16340
2018총인구     32515
2018남자인구    15766
2018여자인구    16749
2019총인구     32837
2019남자인구    15830
2019여자인구    17007
dtype: int64

2017총인구     38016
2017남자인구    18933
2017여자인구    19083
2018총인구     38285
2018남자인구    19109
2018여자인구    19176
2019총인구     38033
2019남자인구    18977
2019여자인구    19056
dtype: int64

2017총인구     38441
2017남자인구    19044
2017여자인구    19397
2018총인구     37130
2018남자인구    18282
2018여자인구    18848
2019총인구     36159
2019남자인구    17798
2019여자인구    18361
dtype: int64

2017총인구     35846
2017남자인구    17666
2017여자인구    18180
2018총인구     36247
2018남자인구    17890
2018여자인구    18357
2019총인구     36459
2019남자인구    18020
2019여자인구    18439
dtype: int64

2017총인구     25834
2017남자인구    12145
2017여자인구    13689
2018총인구     26537
2018남자인구    12571
2018여자인구    13966
2019총인구     27485
2019남자인구    13042
2019여자인구    14443
dtype: int64

2017총인구     16875
2017남자인구     7204
2017여자인구     9671
2018총인구     16995
2018남자인구     7325
2018여자인구     9670
2019총인구     17122
2019남자인구     7388
2019여자인구     9734
dtype: int64

2017총인구     7264
2017남자인구    2639
2017여자인구    4625
2018총인구     7733
2018남자인구    2853
2018여자인구    4880
2019총인구     8176
2019남자인구    3055
2019여자인구    5121
dtype: int64

2017총인구     1262
2017남자인구     395
2017여자인구     867
2018총인구     1365
2018남자인구     421
2018여자인구     944
2019총인구     1523
2019남자인구     475
2019여자인구    1048
dtype: int64

2017총인구     23437
2017남자인구    11951
2017여자인구    11486
2018총인구     23077
2018남자인구    11749
2018여자인구    11328
2019총인구     21983
2019남자인구    11226
2019여자인구    10757
dtype: int64

2017총인구     23854
2017남자인구    11933
2017여자인구    11921
2018총인구     22969
2018남자인구    11523
2018여자인구    11446
2019총인구     21435
2019남자인구    10733
2019여자인구    10702
dtype: int64

2017총인구     45940
2017남자인구    23166
2017여자인구    22774
2018총인구     46897
2018남자인구    23266
2018여자인구    23631
2019총인구     45985
2019남자인구    22759
2019여자인구    23226
dtype: int64

2017총인구     52396
2017남자인구    26137
2017여자인구    26259
2018총인구     53359
2018남자인구    26467
2018여자인구    26892
2019총인구     50964
2019남자인구    25122
2019여자인구    25842
dtype: int64

2017총인구     50183
2017남자인구    25421
2017여자인구    24762
2018총인구     49231
2018남자인구    24898
2018여자인구    24333
2019총인구     47169
2019남자인구    23710
2019여자인구    23459
dtype: int64

2017총인구     48614
2017남자인구    24489
2017여자인구    24125
2018총인구     49449
2018남자인구    24764
2018여자인구    24685
2019총인구     48446
2019남자인구    24243
2019여자인구    24203
dtype: int64

2017총인구     32557
2017남자인구    15661
2017여자인구    16896
2018총인구     34279
2018남자인구    16629
2018여자인구    17650
2019총인구     35133
2019남자인구    17031
2019여자인구    18102
dtype: int64

2017총인구     19691
2017남자인구     8784
2017여자인구    10907
2018총인구     20166
2018남자인구     8986
2018여자인구    11180
2019총인구     20424
2019남자인구     9093
2019여자인구    11331
dtype: int64

2017총인구     6994
2017남자인구    2519
2017여자인구    4475
2018총인구     7535
2018남자인구    2739
2018여자인구    4796
2019총인구     8014
2019남자인구    2989
2019여자인구    5025
dtype: int64

2017총인구      927
2017남자인구     250
2017여자인구     677
2018총인구     1030
2018남자인구     275
2018여자인구     755
2019총인구     1102
2019남자인구     303
2019여자인구     799
dtype: int64

2017총인구     24212
2017남자인구    12465
2017여자인구    11747
2018총인구     23182
2018남자인구    11914
2018여자인구    11268
2019총인구     21657
2019남자인구    11115
2019여자인구    10542
dtype: int64

2017총인구     30875
2017남자인구    15798
2017여자인구    15077
2018총인구     29234
2018남자인구    14930
2018여자인구    14304
2019총인구     27573
2019남자인구    14060
2019여자인구    13513
dtype: int64

2017총인구     60549
2017남자인구    29167
2017여자인구    31382
2018총인구     61256
2018남자인구    29332
2018여자인구    31924
2019총인구     61751
2019남자인구    29386
2019여자인구    32365
dtype: int64

2017총인구     61198
2017남자인구    30526
2017여자인구    30672
2018총인구     60447
2018남자인구    29945
2018여자인구    30502
2019총인구     58175
2019남자인구    28756
2019여자인구    29419
dtype: int64

2017총인구     58472
2017남자인구    28757
2017여자인구    29715
2018총인구     56164
2018남자인구    27685
2018여자인구    28479
2019총인구     54490
2019남자인구    26886
2019여자인구    27604
dtype: int64

2017총인구     56514
2017남자인구    27569
2017여자인구    28945
2018총인구     56427
2018남자인구    27501
2018여자인구    28926
2019총인구     55638
2019남자인구    27147
2019여자인구    28491
dtype: int64

2017총인구     37178
2017남자인구    17793
2017여자인구    19385
2018총인구     38679
2018남자인구    18512
2018여자인구    20167
2019총인구     40451
2019남자인구    19274
2019여자인구    21177
dtype: int64

2017총인구     20556
2017남자인구     9512
2017여자인구    11044
2018총인구     21347
2018남자인구     9832
2018여자인구    11515
2019총인구     21943
2019남자인구    10097
2019여자인구    11846
dtype: int64

2017총인구     6957
2017남자인구    2534
2017여자인구    4423
2018총인구     7550
2018남자인구    2812
2018여자인구    4738
2019총인구     8262
2019남자인구    3166
2019여자인구    5096
dtype: int64

2017총인구     1015
2017남자인구     254
2017여자인구     761
2018총인구     1083
2018남자인구     291
2018여자인구     792
2019총인구     1205
2019남자인구     332
2019여자인구     873
dtype: int64

2017총인구     23694
2017남자인구    12167
2017여자인구    11527
2018총인구     22896
2018남자인구    11792
2018여자인구    11104
2019총인구     22115
2019남자인구    11361
2019여자인구    10754
dtype: int64

2017총인구     27914
2017남자인구    14266
2017여자인구    13648
2018총인구     26533
2018남자인구    13495
2018여자인구    13038
2019총인구     25227
2019남자인구    12792
2019여자인구    12435
dtype: int64

2017총인구     54166
2017남자인구    27992
2017여자인구    26174
2018총인구     54289
2018남자인구    27736
2018여자인구    26553
2019총인구     55028
2019남자인구    27777
2019여자인구    27251
dtype: int64

2017총인구     53127
2017남자인구    27599
2017여자인구    25528
2018총인구     52789
2018남자인구    27299
2018여자인구    25490
2019총인구     51458
2019남자인구    26673
2019여자인구    24785
dtype: int64

2017총인구     55790
2017남자인구    28726
2017여자인구    27064
2018총인구     53730
2018남자인구    27734
2018여자인구    25996
2019총인구     52463
2019남자인구    27052
2019여자인구    25411
dtype: int64

2017총인구     55953
2017남자인구    28052
2017여자인구    27901
2018총인구     55423
2018남자인구    27822
2018여자인구    27601
2019총인구     54608
2019남자인구    27424
2019여자인구    27184
dtype: int64

2017총인구     42357
2017남자인구    20364
2017여자인구    21993
2018총인구     43292
2018남자인구    20980
2018여자인구    22312
2019총인구     44789
2019남자인구    21627
2019여자인구    23162
dtype: int64

2017총인구     26911
2017남자인구    12195
2017여자인구    14716
2018총인구     27508
2018남자인구    12387
2018여자인구    15121
2019총인구     27942
2019남자인구    12597
2019여자인구    15345
dtype: int64

2017총인구      9179
2017남자인구     3540
2017여자인구     5639
2018총인구      9912
2018남자인구     3854
2018여자인구     6058
2019총인구     10763
2019남자인구     4275
2019여자인구     6488
dtype: int64

2017총인구     1310
2017남자인구     352
2017여자인구     958
2018총인구     1421
2018남자인구     399
2018여자인구    1022
2019총인구     1525
2019남자인구     455
2019여자인구    1070
dtype: int64

2017총인구     28018
2017남자인구    14315
2017여자인구    13703
2018총인구     26293
2018남자인구    13448
2018여자인구    12845
2019총인구     24712
2019남자인구    12733
2019여자인구    11979
dtype: int64

2017총인구     32554
2017남자인구    16866
2017여자인구    15688
2018총인구     30589
2018남자인구    15675
2018여자인구    14914
2019총인구     28532
2019남자인구    14594
2019여자인구    13938
dtype: int64

2017총인구     58319
2017남자인구    29425
2017여자인구    28894
2018총인구     57490
2018남자인구    29011
2018여자인구    28479
2019총인구     56251
2019남자인구    28185
2019여자인구    28066
dtype: int64

2017총인구     63448
2017남자인구    33066
2017여자인구    30382
2018총인구     62177
2018남자인구    32230
2018여자인구    29947
2019총인구     59522
2019남자인구    30761
2019여자인구    28761
dtype: int64

2017총인구     64652
2017남자인구    33016
2017여자인구    31636
2018총인구     61536
2018남자인구    31650
2018여자인구    29886
2019총인구     59315
2019남자인구    30550
2019여자인구    28765
dtype: int64

2017총인구     72314
2017남자인구    35798
2017여자인구    36516
2018총인구     72008
2018남자인구    35526
2018여자인구    36482
2019총인구     70861
2019남자인구    35033
2019여자인구    35828
dtype: int64

2017총인구     50449
2017남자인구    24481
2017여자인구    25968
2018총인구     52463
2018남자인구    25508
2018여자인구    26955
2019총인구     54979
2019남자인구    26722
2019여자인구    28257
dtype: int64

2017총인구     27945
2017남자인구    12763
2017여자인구    15182
2018총인구     29329
2018남자인구    13362
2018여자인구    15967
2019총인구     30337
2019남자인구    13833
2019여자인구    16504
dtype: int64

2017총인구      9113
2017남자인구     3267
2017여자인구     5846
2018총인구      9783
2018남자인구     3662
2018여자인구     6121
2019총인구     10805
2019남자인구     4155
2019여자인구     6650
dtype: int64

2017총인구     1249
2017남자인구     289
2017여자인구     960
2018총인구     1372
2018남자인구     305
2018여자인구    1067
2019총인구     1515
2019남자인구     352
2019여자인구    1163
dtype: int64

2017총인구     33599
2017남자인구    17201
2017여자인구    16398
2018총인구     31323
2018남자인구    16071
2018여자인구    15252
2019총인구     30994
2019남자인구    15859
2019여자인구    15135
dtype: int64

2017총인구     41755
2017남자인구    21302
2017여자인구    20453
2018총인구     40086
2018남자인구    20452
2018여자인구    19634
2019총인구     39102
2019남자인구    19980
2019여자인구    19122
dtype: int64

2017총인구     63881
2017남자인구    31805
2017여자인구    32076
2018총인구     63590
2018남자인구    31413
2018여자인구    32177
2019총인구     66270
2019남자인구    32366
2019여자인구    33904
dtype: int64

2017총인구     64447
2017남자인구    32072
2017여자인구    32375
2018총인구     62008
2018남자인구    30854
2018여자인구    31154
2019총인구     62041
2019남자인구    30843
2019여자인구    31198
dtype: int64

2017총인구     76956
2017남자인구    38539
2017여자인구    38417
2018총인구     73259
2018남자인구    36467
2018여자인구    36792
2019총인구     72541
2019남자인구    35847
2019여자인구    36694
dtype: int64

2017총인구     68590
2017남자인구    33536
2017여자인구    35054
2018총인구     68347
2018남자인구    33540
2018여자인구    34807
2019총인구     69841
2019남자인구    34323
2019여자인구    35518
dtype: int64

2017총인구     49697
2017남자인구    23260
2017여자인구    26437
2018총인구     50620
2018남자인구    23718
2018여자인구    26902
2019총인구     53047
2019남자인구    25035
2019여자인구    28012
dtype: int64

2017총인구     31940
2017남자인구    14167
2017여자인구    17773
2018총인구     32478
2018남자인구    14254
2018여자인구    18224
2019총인구     33198
2019남자인구    14451
2019여자인구    18747
dtype: int64

2017총인구     11309
2017남자인구     4187
2017여자인구     7122
2018총인구     12097
2018남자인구     4597
2018여자인구     7500
2019총인구     13357
2019남자인구     5147
2019여자인구     8210
dtype: int64

2017총인구     1569
2017남자인구     410
2017여자인구    1159
2018총인구     1728
2018남자인구     453
2018여자인구    1275
2019총인구     1896
2019남자인구     491
2019여자인구    1405
dtype: int64

2017총인구     20453
2017남자인구    10461
2017여자인구     9992
2018총인구     18921
2018남자인구     9728
2018여자인구     9193
2019총인구     17420
2019남자인구     8960
2019여자인구     8460
dtype: int64

2017총인구     26814
2017남자인구    13825
2017여자인구    12989
2018총인구     25261
2018남자인구    12997
2018여자인구    12264
2019총인구     23660
2019남자인구    12188
2019여자인구    11472
dtype: int64

2017총인구     44012
2017남자인구    22014
2017여자인구    21998
2018총인구     43842
2018남자인구    21770
2018여자인구    22072
2019총인구     43350
2019남자인구    21376
2019여자인구    21974
dtype: int64

2017총인구     45371
2017남자인구    23858
2017여자인구    21513
2018총인구     43446
2018남자인구    22801
2018여자인구    20645
2019총인구     41035
2019남자인구    21525
2019여자인구    19510
dtype: int64

2017총인구     53260
2017남자인구    26939
2017여자인구    26321
2018총인구     50661
2018남자인구    25747
2018여자인구    24914
2019총인구     48929
2019남자인구    25002
2019여자인구    23927
dtype: int64

2017총인구     54441
2017남자인구    26357
2017여자인구    28084
2018총인구     54270
2018남자인구    26389
2018여자인구    27881
2019총인구     53606
2019남자인구    26064
2019여자인구    27542
dtype: int64

2017총인구     42069
2017남자인구    19387
2017여자인구    22682
2018총인구     42837
2018남자인구    19827
2018여자인구    23010
2019총인구     44177
2019남자인구    20609
2019여자인구    23568
dtype: int64

2017총인구     27849
2017남자인구    12320
2017여자인구    15529
2018총인구     28854
2018남자인구    12690
2018여자인구    16164
2019총인구     29587
2019남자인구    12921
2019여자인구    16666
dtype: int64

2017총인구      8811
2017남자인구     3393
2017여자인구     5418
2018총인구      9574
2018남자인구     3710
2018여자인구     5864
2019총인구     10557
2019남자인구     4142
2019여자인구     6415
dtype: int64

2017총인구     1182
2017남자인구     315
2017여자인구     867
2018총인구     1269
2018남자인구     358
2018여자인구     911
2019총인구     1399
2019남자인구     390
2019여자인구    1009
dtype: int64

2017총인구     23545
2017남자인구    12146
2017여자인구    11399
2018총인구     22184
2018남자인구    11446
2018여자인구    10738
2019총인구     20665
2019남자인구    10685
2019여자인구     9980
dtype: int64

2017총인구     31653
2017남자인구    16249
2017여자인구    15404
2018총인구     29699
2018남자인구    15307
2018여자인구    14392
2019총인구     27731
2019남자인구    14259
2019여자인구    13472
dtype: int64

2017총인구     47011
2017남자인구    24163
2017여자인구    22848
2018총인구     46095
2018남자인구    23633
2018여자인구    22462
2019총인구     44922
2019남자인구    23012
2019여자인구    21910
dtype: int64

2017총인구     46898
2017남자인구    23994
2017여자인구    22904
2018총인구     45532
2018남자인구    23258
2018여자인구    22274
2019총인구     43376
2019남자인구    22173
2019여자인구    21203
dtype: int64

2017총인구     55985
2017남자인구    27426
2017여자인구    28559
2018총인구     53130
2018남자인구    26140
2018여자인구    26990
2019총인구     51071
2019남자인구    25263
2019여자인구    25808
dtype: int64

2017총인구     59969
2017남자인구    28594
2017여자인구    31375
2018총인구     59615
2018남자인구    28414
2018여자인구    31201
2019총인구     58555
2019남자인구    27865
2019여자인구    30690
dtype: int64

2017총인구     43254
2017남자인구    20984
2017여자인구    22270
2018총인구     45165
2018남자인구    21789
2018여자인구    23376
2019총인구     47357
2019남자인구    22779
2019여자인구    24578
dtype: int64

2017총인구     25211
2017남자인구    11486
2017여자인구    13725
2018총인구     26440
2018남자인구    12089
2018여자인구    14351
2019총인구     27122
2019남자인구    12458
2019여자인구    14664
dtype: int64

2017총인구      9208
2017남자인구     3335
2017여자인구     5873
2018총인구      9953
2018남자인구     3662
2018여자인구     6291
2019총인구     10845
2019남자인구     4088
2019여자인구     6757
dtype: int64

2017총인구     1291
2017남자인구     355
2017여자인구     936
2018총인구     1454
2018남자인구     391
2018여자인구    1063
2019총인구     1559
2019남자인구     428
2019여자인구    1131
dtype: int64

2017총인구     41235
2017남자인구    21146
2017여자인구    20089
2018총인구     38147
2018남자인구    19618
2018여자인구    18529
2019총인구     35765
2019남자인구    18411
2019여자인구    17354
dtype: int64

2017총인구     63992
2017남자인구    33293
2017여자인구    30699
2018총인구     60444
2018남자인구    31468
2018여자인구    28976
2019총인구     56848
2019남자인구    29590
2019여자인구    27258
dtype: int64

2017총인구     76738
2017남자인구    39837
2017여자인구    36901
2018총인구     76371
2018남자인구    39541
2018여자인구    36830
2019총인구     74581
2019남자인구    38517
2019여자인구    36064
dtype: int64

2017총인구     74678
2017남자인구    37087
2017여자인구    37591
2018총인구     71376
2018남자인구    35385
2018여자인구    35991
2019총인구     67330
2019남자인구    33453
2019여자인구    33877
dtype: int64

2017총인구     98387
2017남자인구    47016
2017여자인구    51371
2018총인구     93598
2018남자인구    44730
2018여자인구    48868
2019총인구     89904
2019남자인구    42879
2019여자인구    47025
dtype: int64

2017총인구     89761
2017남자인구    43494
2017여자인구    46267
2018총인구     89522
2018남자인구    43381
2018여자인구    46141
2019총인구     88956
2019남자인구    43083
2019여자인구    45873
dtype: int64

2017총인구     59742
2017남자인구    28155
2017여자인구    31587
2018총인구     62273
2018남자인구    29268
2018여자인구    33005
2019총인구     64980
2019남자인구    30365
2019여자인구    34615
dtype: int64

2017총인구     34145
2017남자인구    14490
2017여자인구    19655
2018총인구     35303
2018남자인구    15147
2018여자인구    20156
2019총인구     36542
2019남자인구    15730
2019여자인구    20812
dtype: int64

2017총인구     13563
2017남자인구     4481
2017여자인구     9082
2018총인구     14403
2018남자인구     4830
2018여자인구     9573
2019총인구     15507
2019남자인구     5276
2019여자인구    10231
dtype: int64

2017총인구     1924
2017남자인구     441
2017여자인구    1483
2018총인구     2074
2018남자인구     479
2018여자인구    1595
2019총인구     2240
2019남자인구     542
2019여자인구    1698
dtype: int64

2017총인구     35436
2017남자인구    18214
2017여자인구    17222
2018총인구     33399
2018남자인구    17123
2018여자인구    16276
2019총인구     31683
2019남자인구    16220
2019여자인구    15463
dtype: int64

2017총인구     44918
2017남자인구    23116
2017여자인구    21802
2018총인구     42905
2018남자인구    22000
2018여자인구    20905
2019총인구     40707
2019남자인구    20856
2019여자인구    19851
dtype: int64

2017총인구     65207
2017남자인구    32378
2017여자인구    32829
2018총인구     65317
2018남자인구    32150
2018여자인구    33167
2019총인구     65924
2019남자인구    32239
2019여자인구    33685
dtype: int64

2017총인구     73213
2017남자인구    36600
2017여자인구    36613
2018총인구     71862
2018남자인구    35864
2018여자인구    35998
2019총인구     69727
2019남자인구    34675
2019여자인구    35052
dtype: int64

2017총인구     83208
2017남자인구    41346
2017여자인구    41862
2018총인구     80095
2018남자인구    39653
2018여자인구    40442
2019총인구     78223
2019남자인구    38647
2019여자인구    39576
dtype: int64

2017총인구     77630
2017남자인구    37203
2017여자인구    40427
2018총인구     77972
2018남자인구    37399
2018여자인구    40573
2019총인구     77441
2019남자인구    37260
2019여자인구    40181
dtype: int64

2017총인구     56931
2017남자인구    26278
2017여자인구    30653
2018총인구     58799
2018남자인구    27187
2018여자인구    31612
2019총인구     61152
2019남자인구    28301
2019여자인구    32851
dtype: int64

2017총인구     35892
2017남자인구    16008
2017여자인구    19884
2018총인구     37276
2018남자인구    16583
2018여자인구    20693
2019총인구     38190
2019남자인구    16916
2019여자인구    21274
dtype: int64

2017총인구     12309
2017남자인구     4728
2017여자인구     7581
2018총인구     13368
2018남자인구     5209
2018여자인구     8159
2019총인구     14595
2019남자인구     5777
2019여자인구     8818
dtype: int64

2017총인구     1681
2017남자인구     428
2017여자인구    1253
2018총인구     1820
2018남자인구     474
2018여자인구    1346
2019총인구     1993
2019남자인구     567
2019여자인구    1426
dtype: int64

2017총인구     21803
2017남자인구    11103
2017여자인구    10700
2018총인구     21180
2018남자인구    10806
2018여자인구    10374
2019총인구     20395
2019남자인구    10468
2019여자인구     9927
dtype: int64

2017총인구     26874
2017남자인구    13648
2017여자인구    13226
2018총인구     25513
2018남자인구    12937
2018여자인구    12576
2019총인구     24615
2019남자인구    12368
2019여자인구    12247
dtype: int64

2017총인구     48152
2017남자인구    23817
2017여자인구    24335
2018총인구     48427
2018남자인구    23765
2018여자인구    24662
2019총인구     48834
2019남자인구    23747
2019여자인구    25087
dtype: int64

2017총인구     46246
2017남자인구    23039
2017여자인구    23207
2018총인구     45526
2018남자인구    22554
2018여자인구    22972
2019총인구     44681
2019남자인구    22208
2019여자인구    22473
dtype: int64

2017총인구     51377
2017남자인구    25393
2017여자인구    25984
2018총인구     49319
2018남자인구    24454
2018여자인구    24865
2019총인구     48096
2019남자인구    23799
2019여자인구    24297
dtype: int64

2017총인구     49467
2017남자인구    24089
2017여자인구    25378
2018총인구     49357
2018남자인구    23947
2018여자인구    25410
2019총인구     49404
2019남자인구    23894
2019여자인구    25510
dtype: int64

2017총인구     34562
2017남자인구    15995
2017여자인구    18567
2018총인구     35620
2018남자인구    16627
2018여자인구    18993
2019총인구     36792
2019남자인구    17262
2019여자인구    19530
dtype: int64

2017총인구     23815
2017남자인구    10321
2017여자인구    13494
2018총인구     24100
2018남자인구    10371
2018여자인구    13729
2019총인구     24190
2019남자인구    10357
2019여자인구    13833
dtype: int64

2017총인구      8995
2017남자인구     3357
2017여자인구     5638
2018총인구      9648
2018남자인구     3683
2018여자인구     5965
2019총인구     10579
2019남자인구     4061
2019여자인구     6518
dtype: int64

2017총인구     1283
2017남자인구     326
2017여자인구     957
2018총인구     1376
2018남자인구     364
2018여자인구    1012
2019총인구     1534
2019남자인구     426
2019여자인구    1108
dtype: int64

2017총인구     29057
2017남자인구    14817
2017여자인구    14240
2018총인구     27746
2018남자인구    14103
2018여자인구    13643
2019총인구     26560
2019남자인구    13479
2019여자인구    13081
dtype: int64

2017총인구     31659
2017남자인구    16046
2017여자인구    15613
2018총인구     30948
2018남자인구    15635
2018여자인구    15313
2019총인구     29727
2019남자인구    15047
2019여자인구    14680
dtype: int64

2017총인구     58115
2017남자인구    27113
2017여자인구    31002
2018총인구     59561
2018남자인구    27611
2018여자인구    31950
2019총인구     60735
2019남자인구    27797
2019여자인구    32938
dtype: int64

2017총인구     67697
2017남자인구    32575
2017여자인구    35122
2018총인구     66963
2018남자인구    31949
2018여자인구    35014
2019총인구     65646
2019남자인구    31161
2019여자인구    34485
dtype: int64

2017총인구     64994
2017남자인구    32038
2017여자인구    32956
2018총인구     63669
2018남자인구    31283
2018여자인구    32386
2019총인구     62468
2019남자인구    30410
2019여자인구    32058
dtype: int64

2017총인구     53207
2017남자인구    26001
2017여자인구    27206
2018총인구     53898
2018남자인구    26378
2018여자인구    27520
2019총인구     54170
2019남자인구    26621
2019여자인구    27549
dtype: int64

2017총인구     35926
2017남자인구    16342
2017여자인구    19584
2018총인구     36862
2018남자인구    16826
2018여자인구    20036
2019총인구     38044
2019남자인구    17508
2019여자인구    20536
dtype: int64

2017총인구     23594
2017남자인구    10184
2017여자인구    13410
2018총인구     24096
2018남자인구    10319
2018여자인구    13777
2019총인구     24340
2019남자인구    10342
2019여자인구    13998
dtype: int64

2017총인구      9106
2017남자인구     3405
2017여자인구     5701
2018총인구      9675
2018남자인구     3683
2018여자인구     5992
2019총인구     10495
2019남자인구     4018
2019여자인구     6477
dtype: int64

2017총인구     1284
2017남자인구     356
2017여자인구     928
2018총인구     1364
2018남자인구     385
2018여자인구     979
2019총인구     1532
2019남자인구     431
2019여자인구    1101
dtype: int64

2017총인구     36786
2017남자인구    18904
2017여자인구    17882
2018총인구     34792
2018남자인구    17802
2018여자인구    16990
2019총인구     33156
2019남자인구    17069
2019여자인구    16087
dtype: int64

2017총인구     57338
2017남자인구    30095
2017여자인구    27243
2018총인구     55101
2018남자인구    28864
2018여자인구    26237
2019총인구     52583
2019남자인구    27414
2019여자인구    25169
dtype: int64

2017총인구     63191
2017남자인구    32513
2017여자인구    30678
2018총인구     61953
2018남자인구    31896
2018여자인구    30057
2019총인구     60964
2019남자인구    31299
2019여자인구    29665
dtype: int64

2017총인구     64917
2017남자인구    31962
2017여자인구    32955
2018총인구     62817
2018남자인구    30857
2018여자인구    31960
2019총인구     59835
2019남자인구    29367
2019여자인구    30468
dtype: int64

2017총인구     85812
2017남자인구    41093
2017여자인구    44719
2018총인구     82682
2018남자인구    39629
2018여자인구    43053
2019총인구     80660
2019남자인구    38610
2019여자인구    42050
dtype: int64

2017총인구     78411
2017남자인구    39055
2017여자인구    39356
2018총인구     77941
2018남자인구    38824
2018여자인구    39117
2019총인구     77424
2019남자인구    38520
2019여자인구    38904
dtype: int64

2017총인구     49755
2017남자인구    24320
2017여자인구    25435
2018총인구     51800
2018남자인구    25107
2018여자인구    26693
2019총인구     54491
2019남자인구    26306
2019여자인구    28185
dtype: int64

2017총인구     24316
2017남자인구    11262
2017여자인구    13054
2018총인구     25850
2018남자인구    12044
2018여자인구    13806
2019총인구     27087
2019남자인구    12661
2019여자인구    14426
dtype: int64

2017총인구      9124
2017남자인구     2960
2017여자인구     6164
2018총인구      9609
2018남자인구     3221
2018여자인구     6388
2019총인구     10214
2019남자인구     3507
2019여자인구     6707
dtype: int64

2017총인구     1354
2017남자인구     318
2017여자인구    1036
2018총인구     1477
2018남자인구     351
2018여자인구    1126
2019총인구     1581
2019남자인구     392
2019여자인구    1189
dtype: int64

2017총인구     49225
2017남자인구    25092
2017여자인구    24133
2018총인구     46680
2018남자인구    23855
2018여자인구    22825
2019총인구     43968
2019남자인구    22477
2019여자인구    21491
dtype: int64

2017총인구     51725
2017남자인구    26490
2017여자인구    25235
2018총인구     49481
2018남자인구    25257
2018여자인구    24224
2019총인구     47442
2019남자인구    24218
2019여자인구    23224
dtype: int64

2017총인구     87795
2017남자인구    42216
2017여자인구    45579
2018총인구     87277
2018남자인구    41644
2018여자인구    45633
2019총인구     87418
2019남자인구    41222
2019여자인구    46196
dtype: int64

2017총인구     108193
2017남자인구     55010
2017여자인구     53183
2018총인구     106818
2018남자인구     54296
2018여자인구     52522
2019총인구     103078
2019남자인구     52201
2019여자인구     50877
dtype: int64

2017총인구     96605
2017남자인구    48443
2017여자인구    48162
2018총인구     94297
2018남자인구    47332
2018여자인구    46965
2019총인구     93276
2019남자인구    46838
2019여자인구    46438
dtype: int64

2017총인구     92194
2017남자인구    43684
2017여자인구    48510
2018총인구     91098
2018남자인구    43239
2018여자인구    47859
2019총인구     89067
2019남자인구    42338
2019여자인구    46729
dtype: int64

2017총인구     67811
2017남자인구    31849
2017여자인구    35962
2018총인구     70312
2018남자인구    32817
2018여자인구    37495
2019총인구     73580
2019남자인구    34266
2019여자인구    39314
dtype: int64

2017총인구     33797
2017남자인구    15677
2017여자인구    18120
2018총인구     35756
2018남자인구    16691
2018여자인구    19065
2019총인구     37550
2019남자인구    17576
2019여자인구    19974
dtype: int64

2017총인구     12232
2017남자인구     4019
2017여자인구     8213
2018총인구     12928
2018남자인구     4398
2018여자인구     8530
2019총인구     13896
2019남자인구     4820
2019여자인구     9076
dtype: int64

2017총인구     1919
2017남자인구     462
2017여자인구    1457
2018총인구     2093
2018남자인구     490
2018여자인구    1603
2019총인구     2303
2019남자인구     543
2019여자인구    1760
dtype: int64

2017총인구     34069
2017남자인구    17255
2017여자인구    16814
2018총인구     31394
2018남자인구    15941
2018여자인구    15453
2019총인구     30501
2019남자인구    15563
2019여자인구    14938
dtype: int64

2017총인구     33912
2017남자인구    17599
2017여자인구    16313
2018총인구     32623
2018남자인구    16813
2018여자인구    15810
2019총인구     31579
2019남자인구    16306
2019여자인구    15273
dtype: int64

2017총인구     55574
2017남자인구    27616
2017여자인구    27958
2018총인구     55130
2018남자인구    27412
2018여자인구    27718
2019총인구     55652
2019남자인구    27354
2019여자인구    28298
dtype: int64

2017총인구     68579
2017남자인구    34913
2017여자인구    33666
2018총인구     65587
2018남자인구    33287
2018여자인구    32300
2019총인구     64654
2019남자인구    32899
2019여자인구    31755
dtype: int64

2017총인구     67127
2017남자인구    34483
2017여자인구    32644
2018총인구     64816
2018남자인구    33377
2018여자인구    31439
2019총인구     64447
2019남자인구    33156
2019여자인구    31291
dtype: int64

2017총인구     64587
2017남자인구    31780
2017여자인구    32807
2018총인구     64139
2018남자인구    31493
2018여자인구    32646
2019총인구     63993
2019남자인구    31449
2019여자인구    32544
dtype: int64

2017총인구     49650
2017남자인구    23760
2017여자인구    25890
2018총인구     51157
2018남자인구    24322
2018여자인구    26835
2019총인구     53427
2019남자인구    25246
2019여자인구    28181
dtype: int64

2017총인구     27395
2017남자인구    13097
2017여자인구    14298
2018총인구     28761
2018남자인구    13762
2018여자인구    14999
2019총인구     30373
2019남자인구    14489
2019여자인구    15884
dtype: int64

2017총인구      8577
2017남자인구     3227
2017여자인구     5350
2018총인구      9515
2018남자인구     3702
2018여자인구     5813
2019총인구     10495
2019남자인구     4153
2019여자인구     6342
dtype: int64

2017총인구     1122
2017남자인구     240
2017여자인구     882
2018총인구     1220
2018남자인구     274
2018여자인구     946
2019총인구     1387
2019남자인구     339
2019여자인구    1048
dtype: int64

2017총인구     15450
2017남자인구     7940
2017여자인구     7510
2018총인구     14657
2018남자인구     7485
2018여자인구     7172
2019총인구     13746
2019남자인구     7047
2019여자인구     6699
dtype: int64

2017총인구     18265
2017남자인구     9344
2017여자인구     8921
2018총인구     16916
2018남자인구     8607
2018여자인구     8309
2019총인구     15805
2019남자인구     8053
2019여자인구     7752
dtype: int64

2017총인구     34793
2017남자인구    18039
2017여자인구    16754
2018총인구     35587
2018남자인구    18532
2018여자인구    17055
2019총인구     36241
2019남자인구    18634
2019여자인구    17607
dtype: int64

2017총인구     36582
2017남자인구    19929
2017여자인구    16653
2018총인구     36215
2018남자인구    19875
2018여자인구    16340
2019총인구     35666
2019남자인구    19684
2019여자인구    15982
dtype: int64

2017총인구     37358
2017남자인구    19442
2017여자인구    17916
2018총인구     35429
2018남자인구    18425
2018여자인구    17004
2019총인구     34191
2019남자인구    17826
2019여자인구    16365
dtype: int64

2017총인구     42106
2017남자인구    21213
2017여자인구    20893
2018총인구     42099
2018남자인구    21205
2018여자인구    20894
2019총인구     41350
2019남자인구    20792
2019여자인구    20558
dtype: int64

2017총인구     28856
2017남자인구    14129
2017여자인구    14727
2018총인구     29976
2018남자인구    14694
2018여자인구    15282
2019총인구     31511
2019남자인구    15466
2019여자인구    16045
dtype: int64

2017총인구     16031
2017남자인구     7469
2017여자인구     8562
2018총인구     16797
2018남자인구     7846
2018여자인구     8951
2019총인구     17440
2019남자인구     8140
2019여자인구     9300
dtype: int64

2017총인구     4925
2017남자인구    1798
2017여자인구    3127
2018총인구     5341
2018남자인구    2022
2018여자인구    3319
2019총인구     5917
2019남자인구    2331
2019여자인구    3586
dtype: int64

2017총인구     648
2017남자인구    148
2017여자인구    500
2018총인구     749
2018남자인구    173
2018여자인구    576
2019총인구     775
2019남자인구    180
2019여자인구    595
dtype: int64

2017총인구     27376
2017남자인구    14025
2017여자인구    13351
2018총인구     26289
2018남자인구    13391
2018여자인구    12898
2019총인구     25447
2019남자인구    12913
2019여자인구    12534
dtype: int64

2017총인구     27633
2017남자인구    14595
2017여자인구    13038
2018총인구     26126
2018남자인구    13812
2018여자인구    12314
2019총인구     24859
2019남자인구    13093
2019여자인구    11766
dtype: int64

2017총인구     54346
2017남자인구    26503
2017여자인구    27843
2018총인구     55544
2018남자인구    26769
2018여자인구    28775
2019총인구     56655
2019남자인구    26939
2019여자인구    29716
dtype: int64

2017총인구     65512
2017남자인구    33681
2017여자인구    31831
2018총인구     66210
2018남자인구    34144
2018여자인구    32066
2019총인구     65986
2019남자인구    34016
2019여자인구    31970
dtype: int64

2017총인구     58709
2017남자인구    30292
2017여자인구    28417
2018총인구     56635
2018남자인구    29205
2018여자인구    27430
2019총인구     55524
2019남자인구    28530
2019여자인구    26994
dtype: int64

2017총인구     57455
2017남자인구    28998
2017여자인구    28457
2018총인구     56851
2018남자인구    28790
2018여자인구    28061
2019총인구     56168
2019남자인구    28440
2019여자인구    27728
dtype: int64

2017총인구     42263
2017남자인구    20510
2017여자인구    21753
2018총인구     43146
2018남자인구    20898
2018여자인구    22248
2019총인구     44526
2019남자인구    21637
2019여자인구    22889
dtype: int64

2017총인구     24756
2017남자인구    11483
2017여자인구    13273
2018총인구     25715
2018남자인구    11962
2018여자인구    13753
2019총인구     26266
2019남자인구    12169
2019여자인구    14097
dtype: int64

2017총인구      9005
2017남자인구     3486
2017여자인구     5519
2018총인구      9659
2018남자인구     3814
2018여자인구     5845
2019총인구     10510
2019남자인구     4226
2019여자인구     6284
dtype: int64

2017총인구     1261
2017남자인구     348
2017여자인구     913
2018총인구     1354
2018남자인구     380
2018여자인구     974
2019총인구     1468
2019남자인구     409
2019여자인구    1059
dtype: int64

2017총인구     29241
2017남자인구    15029
2017여자인구    14212
2018총인구     27883
2018남자인구    14180
2018여자인구    13703
2019총인구     26596
2019남자인구    13542
2019여자인구    13054
dtype: int64

2017총인구     31747
2017남자인구    16365
2017여자인구    15382
2018총인구     30460
2018남자인구    15706
2018여자인구    14754
2019총인구     29451
2019남자인구    15107
2019여자인구    14344
dtype: int64

2017총인구     63775
2017남자인구    31808
2017여자인구    31967
2018총인구     65335
2018남자인구    32219
2018여자인구    33116
2019총인구     66382
2019남자인구    32395
2019여자인구    33987
dtype: int64

2017총인구     67124
2017남자인구    33742
2017여자인구    33382
2018총인구     65942
2018남자인구    33222
2018여자인구    32720
2019총인구     64161
2019남자인구    32441
2019여자인구    31720
dtype: int64

2017총인구     62677
2017남자인구    31402
2017여자인구    31275
2018총인구     61304
2018남자인구    30696
2018여자인구    30608
2019총인구     60484
2019남자인구    30346
2019여자인구    30138
dtype: int64

2017총인구     59161
2017남자인구    28079
2017여자인구    31082
2018총인구     59291
2018남자인구    28264
2018여자인구    31027
2019총인구     59258
2019남자인구    28329
2019여자인구    30929
dtype: int64

2017총인구     44401
2017남자인구    20517
2017여자인구    23884
2018총인구     45875
2018남자인구    21125
2018여자인구    24750
2019총인구     47476
2019남자인구    21889
2019여자인구    25587
dtype: int64

2017총인구     27039
2017남자인구    12388
2017여자인구    14651
2018총인구     28203
2018남자인구    12781
2018여자인구    15422
2019총인구     29106
2019남자인구    13095
2019여자인구    16011
dtype: int64

2017총인구      9432
2017남자인구     3523
2017여자인구     5909
2018총인구     10119
2018남자인구     3870
2018여자인구     6249
2019총인구     11074
2019남자인구     4290
2019여자인구     6784
dtype: int64

2017총인구     1376
2017남자인구     340
2017여자인구    1036
2018총인구     1524
2018남자인구     395
2018여자인구    1129
2019총인구     1688
2019남자인구     457
2019여자인구    1231
dtype: int64

2017총인구     29533
2017남자인구    15094
2017여자인구    14439
2018총인구     27165
2018남자인구    14009
2018여자인구    13156
2019총인구     25097
2019남자인구    12921
2019여자인구    12176
dtype: int64

2017총인구     34365
2017남자인구    17724
2017여자인구    16641
2018총인구     32559
2018남자인구    16751
2018여자인구    15808
2019총인구     30700
2019남자인구    15810
2019여자인구    14890
dtype: int64

2017총인구      99790
2017남자인구     50143
2017여자인구     49647
2018총인구     104460
2018남자인구     51651
2018여자인구     52809
2019총인구     107387
2019남자인구     52613
2019여자인구     54774
dtype: int64

2017총인구     92554
2017남자인구    50344
2017여자인구    42210
2018총인구     91028
2018남자인구    49619
2018여자인구    41409
2019총인구     88858
2019남자인구    48683
2019여자인구    40175
dtype: int64

2017총인구     75338
2017남자인구    40031
2017여자인구    35307
2018총인구     72628
2018남자인구    38709
2018여자인구    33919
2019총인구     70869
2019남자인구    37774
2019여자인구    33095
dtype: int64

2017총인구     70941
2017남자인구    34726
2017여자인구    36215
2018총인구     70327
2018남자인구    34454
2018여자인구    35873
2019총인구     69536
2019남자인구    34440
2019여자인구    35096
dtype: int64

2017총인구     55604
2017남자인구    25702
2017여자인구    29902
2018총인구     56158
2018남자인구    26020
2018여자인구    30138
2019총인구     57543
2019남자인구    26749
2019여자인구    30794
dtype: int64

2017총인구     33696
2017남자인구    15747
2017여자인구    17949
2018총인구     35098
2018남자인구    16254
2018여자인구    18844
2019총인구     36211
2019남자인구    16673
2019여자인구    19538
dtype: int64

2017총인구      9854
2017남자인구     3771
2017여자인구     6083
2018총인구     10782
2018남자인구     4287
2018여자인구     6495
2019총인구     12006
2019남자인구     4899
2019여자인구     7107
dtype: int64

2017총인구     1349
2017남자인구     324
2017여자인구    1025
2018총인구     1460
2018남자인구     347
2018여자인구    1113
2019총인구     1582
2019남자인구     384
2019여자인구    1198
dtype: int64

2017총인구     39403
2017남자인구    20186
2017여자인구    19217
2018총인구     37467
2018남자인구    19275
2018여자인구    18192
2019총인구     36001
2019남자인구    18623
2019여자인구    17378
dtype: int64

2017총인구     47997
2017남자인구    24519
2017여자인구    23478
2018총인구     46932
2018남자인구    23898
2018여자인구    23034
2019총인구     45963
2019남자인구    23405
2019여자인구    22558
dtype: int64

2017총인구     58467
2017남자인구    28299
2017여자인구    30168
2018총인구     57288
2018남자인구    27772
2018여자인구    29516
2019총인구     56431
2019남자인구    27216
2019여자인구    29215
dtype: int64

2017총인구     71530
2017남자인구    32732
2017여자인구    38798
2018총인구     69032
2018남자인구    31661
2018여자인구    37371
2019총인구     66802
2019남자인구    30623
2019여자인구    36179
dtype: int64

2017총인구     81817
2017남자인구    39028
2017여자인구    42789
2018총인구     79877
2018남자인구    37990
2018여자인구    41887
2019총인구     78568
2019남자인구    37074
2019여자인구    41494
dtype: int64

2017총인구     62623
2017남자인구    30343
2017여자인구    32280
2018총인구     62233
2018남자인구    30214
2018여자인구    32019
2019총인구     62779
2019남자인구    30699
2019여자인구    32080
dtype: int64

2017총인구     44999
2017남자인구    20756
2017여자인구    24243
2018총인구     45391
2018남자인구    20954
2018여자인구    24437
2019총인구     46605
2019남자인구    21444
2019여자인구    25161
dtype: int64

2017총인구     24314
2017남자인구    11723
2017여자인구    12591
2018총인구     25316
2018남자인구    12154
2018여자인구    13162
2019총인구     26507
2019남자인구    12541
2019여자인구    13966
dtype: int64

2017총인구     8225
2017남자인구    3207
2017여자인구    5018
2018총인구     8581
2018남자인구    3489
2018여자인구    5092
2019총인구     9188
2019남자인구    3894
2019여자인구    5294
dtype: int64

2017총인구     1546
2017남자인구     397
2017여자인구    1149
2018총인구     1647
2018남자인구     412
2018여자인구    1235
2019총인구     1774
2019남자인구     471
2019여자인구    1303
dtype: int64

2017총인구     41417
2017남자인구    21327
2017여자인구    20090
2018총인구     39242
2018남자인구    20233
2018여자인구    19009
2019총인구     38704
2019남자인구    20019
2019여자인구    18685
dtype: int64

2017총인구     62953
2017남자인구    33139
2017여자인구    29814
2018총인구     60965
2018남자인구    31994
2018여자인구    28971
2019총인구     60451
2019남자인구    31583
2019여자인구    28868
dtype: int64

2017총인구     79392
2017남자인구    38247
2017여자인구    41145
2018총인구     76468
2018남자인구    36781
2018여자인구    39687
2019총인구     75966
2019남자인구    36457
2019여자인구    39509
dtype: int64

2017총인구     91645
2017남자인구    41984
2017여자인구    49661
2018총인구     87691
2018남자인구    39887
2018여자인구    47804
2019총인구     85623
2019남자인구    39173
2019여자인구    46450
dtype: int64

2017총인구     102093
2017남자인구     47774
2017여자인구     54319
2018총인구      99471
2018남자인구     46641
2018여자인구     52830
2019총인구     100004
2019남자인구     46561
2019여자인구     53443
dtype: int64

2017총인구     80983
2017남자인구    39686
2017여자인구    41297
2018총인구     79078
2018남자인구    39100
2018여자인구    39978
2019총인구     80246
2019남자인구    39890
2019여자인구    40356
dtype: int64

2017총인구     56426
2017남자인구    26036
2017여자인구    30390
2018총인구     56103
2018남자인구    25692
2018여자인구    30411
2019총인구     57810
2019남자인구    26400
2019여자인구    31410
dtype: int64

2017총인구     29235
2017남자인구    14136
2017여자인구    15099
2018총인구     30741
2018남자인구    14769
2018여자인구    15972
2019총인구     32853
2019남자인구    15675
2019여자인구    17178
dtype: int64

2017총인구      9861
2017남자인구     3608
2017여자인구     6253
2018총인구     10369
2018남자인구     4001
2018여자인구     6368
2019총인구     11053
2019남자인구     4470
2019여자인구     6583
dtype: int64

2017총인구     1925
2017남자인구     456
2017여자인구    1469
2018총인구     1992
2018남자인구     464
2018여자인구    1528
2019총인구     2188
2019남자인구     525
2019여자인구    1663
dtype: int64

2017총인구     55365
2017남자인구    28568
2017여자인구    26797
2018총인구     53769
2018남자인구    27739
2018여자인구    26030
2019총인구     53634
2019남자인구    27712
2019여자인구    25922
dtype: int64

2017총인구     65479
2017남자인구    33653
2017여자인구    31826
2018총인구     63324
2018남자인구    32587
2018여자인구    30737
2019총인구     61673
2019남자인구    31613
2019여자인구    30060
dtype: int64

2017총인구     94047
2017남자인구    46144
2017여자인구    47903
2018총인구     94854
2018남자인구    46103
2018여자인구    48751
2019총인구     96009
2019남자인구    46251
2019여자인구    49758
dtype: int64

2017총인구     114303
2017남자인구     54913
2017여자인구     59390
2018총인구     114426
2018남자인구     54895
2018여자인구     59531
2019총인구     114527
2019남자인구     54982
2019여자인구     59545
dtype: int64

2017총인구     112352
2017남자인구     54419
2017여자인구     57933
2018총인구     109965
2018남자인구     53308
2018여자인구     56657
2019총인구     110651
2019남자인구     53417
2019여자인구     57234
dtype: int64

2017총인구     103096
2017남자인구     49688
2017여자인구     53408
2018총인구     103577
2018남자인구     49841
2018여자인구     53736
2019총인구     104449
2019남자인구     50379
2019여자인구     54070
dtype: int64

2017총인구     72500
2017남자인구    35005
2017여자인구    37495
2018총인구     76032
2018남자인구    36499
2018여자인구    39533
2019총인구     80598
2019남자인구    38388
2019여자인구    42210
dtype: int64

2017총인구     33408
2017남자인구    16160
2017여자인구    17248
2018총인구     35838
2018남자인구    17444
2018여자인구    18394
2019총인구     38429
2019남자인구    18751
2019여자인구    19678
dtype: int64

2017총인구     11688
2017남자인구     4087
2017여자인구     7601
2018총인구     12416
2018남자인구     4547
2018여자인구     7869
2019총인구     13352
2019남자인구     5055
2019여자인구     8297
dtype: int64

2017총인구     2032
2017남자인구     458
2017여자인구    1574
2018총인구     2186
2018남자인구     504
2018여자인구    1682
2019총인구     2369
2019남자인구     549
2019여자인구    1820
dtype: int64

2017총인구     33868
2017남자인구    17531
2017여자인구    16337
2018총인구     31791
2018남자인구    16486
2018여자인구    15305
2019총인구     32162
2019남자인구    16720
2019여자인구    15442
dtype: int64

2017총인구     41265
2017남자인구    21756
2017여자인구    19509
2018총인구     39228
2018남자인구    20723
2018여자인구    18505
2019총인구     38461
2019남자인구    20253
2019여자인구    18208
dtype: int64

2017총인구     59853
2017남자인구    30797
2017여자인구    29056
2018총인구     58212
2018남자인구    29547
2018여자인구    28665
2019총인구     59005
2019남자인구    29668
2019여자인구    29337
dtype: int64

2017총인구     69687
2017남자인구    35173
2017여자인구    34514
2018총인구     67233
2018남자인구    33772
2018여자인구    33461
2019총인구     67743
2019남자인구    34004
2019여자인구    33739
dtype: int64

2017총인구     71523
2017남자인구    35765
2017여자인구    35758
2018총인구     68931
2018남자인구    34528
2018여자인구    34403
2019총인구     69913
2019남자인구    34923
2019여자인구    34990
dtype: int64

2017총인구     72801
2017남자인구    35382
2017여자인구    37419
2018총인구     71017
2018남자인구    34559
2018여자인구    36458
2019총인구     71043
2019남자인구    34594
2019여자인구    36449
dtype: int64

2017총인구     52428
2017남자인구    25366
2017여자인구    27062
2018총인구     54182
2018남자인구    26016
2018여자인구    28166
2019총인구     57773
2019남자인구    27511
2019여자인구    30262
dtype: int64

2017총인구     24627
2017남자인구    11871
2017여자인구    12756
2018총인구     26277
2018남자인구    12714
2018여자인구    13563
2019총인구     28410
2019남자인구    13749
2019여자인구    14661
dtype: int64

2017총인구     8536
2017남자인구    2782
2017여자인구    5754
2018총인구     8930
2018남자인구    3104
2018여자인구    5826
2019총인구     9612
2019남자인구    3487
2019여자인구    6125
dtype: int64

2017총인구     1429
2017남자인구     302
2017여자인구    1127
2018총인구     1562
2018남자인구     315
2018여자인구    1247
2019총인구     1717
2019남자인구     367
2019여자인구    1350
dtype: int64

In [120]:
pop_new2

,2017남자인구,2017여자인구,2017총인구,2018남자인구,2018여자인구,2018총인구,2019남자인구,2019여자인구,2019총인구
0,4576.0,4427.0,9003.0,4380.0,4208.0,8588.0,4143.0,4068.0,8211.0
1,6586.0,6392.0,12978.0,6258.0,6125.0,12383.0,5932.0,5816.0,11748.0
2,12163.0,11744.0,23907.0,11927.0,11838.0,23765.0,11684.0,11888.0,23572.0
3,10650.0,10783.0,21433.0,10523.0,10708.0,21231.0,10086.0,10290.0,20376.0
4,12263.0,12809.0,25072.0,11606.0,12243.0,23849.0,11222.0,11855.0,23077.0
...,...,...,...,...,...,...,...,...,...
245,35382.0,37419.0,72801.0,34559.0,36458.0,71017.0,34594.0,36449.0,71043.0
246,25366.0,27062.0,52428.0,26016.0,28166.0,54182.0,27511.0,30262.0,57773.0
247,11871.0,12756.0,24627.0,12714.0,13563.0,26277.0,13749.0,14661.0,28410.0
248,2782.0,5754.0,8536.0,3104.0,5826.0,8930.0,3487.0,6125.0,9612.0
249,302.0,1127.0,1429.0,315.0,1247.0,1562.0,367.0,1350.0,1717.0

In [126]:
pop_new = pd.concat([pop_new1,pop_new2],axis=1)
pop_new

,행정구역별(구별),연령대,2017남자인구,2017여자인구,2017총인구,2018남자인구,2018여자인구,2018총인구,2019남자인구,2019여자인구,2019총인구
0,종로구,10대미만,4576.0,4427.0,9003.0,4380.0,4208.0,8588.0,4143.0,4068.0,8211.0
1,종로구,10대,6586.0,6392.0,12978.0,6258.0,6125.0,12383.0,5932.0,5816.0,11748.0
2,종로구,20대,12163.0,11744.0,23907.0,11927.0,11838.0,23765.0,11684.0,11888.0,23572.0
3,종로구,30대,10650.0,10783.0,21433.0,10523.0,10708.0,21231.0,10086.0,10290.0,20376.0
4,종로구,40대,12263.0,12809.0,25072.0,11606.0,12243.0,23849.0,11222.0,11855.0,23077.0
...,...,...,...,...,...,...,...,...,...,...,...
245,강동구,50대,35382.0,37419.0,72801.0,34559.0,36458.0,71017.0,34594.0,36449.0,71043.0
246,강동구,60대,25366.0,27062.0,52428.0,26016.0,28166.0,54182.0,27511.0,30262.0,57773.0
247,강동구,70대,11871.0,12756.0,24627.0,12714.0,13563.0,26277.0,13749.0,14661.0,28410.0
248,강동구,80대,2782.0,5754.0,8536.0,3104.0,5826.0,8930.0,3487.0,6125.0,9612.0
249,강동구,90대,302.0,1127.0,1429.0,315.0,1247.0,1562.0,367.0,1350.0,1717.0