In [1]:
import pandas as pd
import numpy as np
from scipy.stats import *
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity="all"

In [3]:
sales = pd.read_csv('seoul_sales_sanggwon2018.csv',encoding='CP949')

In [4]:
sales

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,분기당_매출_금액,분기당_매출_건수,...,시간대_건수~24_매출_건수,남성_매출_건수,여성_매출_건수,연령대_10_매출_건수,연령대_20_매출_건수,연령대_30_매출_건수,연령대_40_매출_건수,연령대_50_매출_건수,연령대_60_이상_매출_건수,점포수
0,2018,1,D,발달상권,1001046,서울 관악구 신림역_4,CS200036,고시원,83495157,281,...,0,281,0,0,0,93,93,0,95,0
1,2018,1,D,발달상권,1001025,서울 관악구 서울대입구역_1,CS200012,법무사사무소,6571318,116,...,0,77,39,0,39,77,0,0,0,10
2,2018,1,A,골목상권,1000289,인촌로17가길,CS300021,문구,6044732,23,...,0,23,0,0,0,0,8,7,8,4
3,2018,1,A,골목상권,1000515,남부순환로70길,CS200030,피부관리실,11863957,40,...,0,0,36,0,0,0,13,23,0,1
4,2018,1,A,골목상권,1000902,논현로63길,CS200029,네일숍,1766586,19,...,3,0,15,0,0,11,0,0,5,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162661,2018,4,A,골목상권,1000732,영신로9길,CS100002,중식음식점,208274869,7652,...,896,2840,2640,102,1843,1817,843,677,203,9
162662,2018,4,R,전통시장,1001487,천호시장,CS200008,한의원,35578749,311,...,0,154,157,0,21,60,31,86,113,0
162663,2018,4,A,골목상권,1000644,디지털로32길,CS100008,분식전문점,849800508,69598,...,13865,35179,29118,1324,24344,20933,10302,5379,2016,10
162664,2018,4,D,발달상권,1001021,가산디지털단지역_1,CS200007,치과의원,384299742,2498,...,2,1743,739,12,309,533,771,567,290,2
162665,2018,4,A,골목상권,1000994,올림픽로71길,CS300011,일반의류,7041051,138,...,0,0,138,0,0,63,29,0,46,3

In [79]:
# base = sales[['기준_년_코드','상권_구분_코드_명','서비스_업종_코드_명','점포수']]  
sales = sales[['기준_년_코드','상권_구분_코드_명','서비스_업종_코드_명','점포수','남성_매출_비율', '여성_매출_비율','연령대_10_매출_비율','연령대_20_매출_비율','연령대_30_매출_비율','연령대_40_매출_비율','연령대_50_매출_비율','연령대_60_이상_매출_비율','남성_매출_금액','여성_매출_금액','연령대_10_매출_금액','연령대_20_매출_금액','연령대_30_매출_금액','연령대_40_매출_금액','연령대_50_매출_금액','연령대_60_이상_매출_금액','시간대_00~06_매출_비율','시간대_06~11_매출_비율','시간대_11~14_매출_비율','시간대_14~17_매출_비율','시간대_17~21_매출_비율','시간대_21~24_매출_비율','남성_매출_건수','여성_매출_건수','연령대_10_매출_건수','연령대_20_매출_건수','연령대_30_매출_건수','연령대_40_매출_건수','연령대_50_매출_건수','연령대_60_이상_매출_건수']]

In [75]:
sales.describe()

,기준_년_코드,점포수,남성_매출_비율,여성_매출_비율,연령대_10_매출_비율,연령대_20_매출_비율,연령대_30_매출_비율,연령대_40_매출_비율,연령대_50_매출_비율,연령대_60_이상_매출_비율,...,시간대_17~21_매출_비율,시간대_21~24_매출_비율,남성_매출_건수,여성_매출_건수,연령대_10_매출_건수,연령대_20_매출_건수,연령대_30_매출_건수,연령대_40_매출_건수,연령대_50_매출_건수,연령대_60_이상_매출_건수
count,162666.0,162666.000000,162666.000000,162666.000000,162666.000000,162666.000000,162666.000000,162666.000000,162666.000000,162666.000000,...,162666.000000,162666.000000,1.626660e+05,1.626660e+05,162666.000000,1.626660e+05,1.626660e+05,162666.000000,162666.000000,162666.000000
mean,2018.0,7.617628,51.539154,48.553545,1.586232,18.266927,21.120492,24.484385,20.486715,14.297598,...,31.641246,10.068668,1.071364e+04,9.719342e+03,578.428799,6.549956e+03,4.885623e+03,3796.762028,2816.295108,1806.484822
std,0.0,68.011562,21.343572,21.342758,3.487448,16.613154,13.812106,16.303208,14.182604,15.327262,...,15.907146,14.056646,4.298001e+04,4.083480e+04,3592.059214,3.518976e+04,2.088241e+04,13540.162811,9156.567901,7175.620919
min,2018.0,0.000000,-34.000000,-3.000000,0.000000,-50.000000,-33.000000,-6.000000,-48.000000,-14.000000,...,-100.000000,-25.000000,-3.000000e+00,0.000000e+00,-5.000000,-9.000000e+00,-1.370000e+02,0.000000,-183.000000,-228.000000
25%,2018.0,2.000000,39.000000,35.000000,0.000000,5.000000,12.000000,16.000000,11.000000,4.000000,...,21.000000,0.000000,1.790000e+02,1.610000e+02,0.000000,3.000000e+01,6.100000e+01,90.000000,71.000000,32.000000
50%,2018.0,3.000000,51.000000,49.000000,0.000000,15.000000,20.000000,22.000000,19.000000,9.000000,...,32.000000,3.000000,1.022000e+03,9.020000e+02,11.000000,2.610000e+02,3.870000e+02,462.000000,378.000000,196.000000
75%,2018.0,6.000000,65.000000,61.000000,2.000000,27.000000,28.000000,29.000000,27.000000,21.000000,...,41.000000,16.000000,5.489000e+03,5.111000e+03,137.000000,2.049750e+03,2.314000e+03,2266.750000,1833.000000,1025.000000
max,2018.0,12371.000000,103.000000,134.000000,100.000000,100.000000,100.000000,111.000000,100.000000,100.000000,...,200.000000,100.000000,2.547680e+06,1.955621e+06,231855.000000,2.361034e+06,1.277033e+06,733706.000000,349345.000000,459789.000000

In [80]:
sales.columns = ['기준년코드','상권구분코드명','서비스업종코드명','점포수','남성매출비율','여성매출비율','10대매출비율','20대매출비율','30대매출_비율','40대매출비율','50대매출비율','60대이상매출비율','남성매출금액','여성매출금액','10대매출금액','20대매출금액','30대매출금액','40대매출금액','50대매출금액','60대이상매출금액','0006매출비율','0611매출비율','1114매출비율','1417매출비율','1721매출비율','2124매출비율','남성매출건수','여성매출건수','10대매출건수','20대매출건수','30대매출건수','40대매출건수','50대매출건수','60대이상매출건수']

In [81]:
sales

,기준년코드,상권구분코드명,서비스업종코드명,점포수,남성매출비율,여성매출비율,10대매출비율,20대매출비율,30대매출_비율,40대매출비율,...,1721매출비율,2124매출비율,남성매출건수,여성매출건수,10대매출건수,20대매출건수,30대매출건수,40대매출건수,50대매출건수,60대이상매출건수
0,2018,발달상권,고시원,0,100,0,0,0,33,33,...,33,0,281,0,0,0,93,93,0,95
1,2018,발달상권,법무사사무소,10,66,34,0,34,66,0,...,0,0,77,39,0,39,77,0,0,0
2,2018,골목상권,문구,4,100,0,0,0,0,50,...,27,0,23,0,0,0,0,8,7,8
3,2018,골목상권,피부관리실,1,0,100,0,0,0,25,...,18,0,0,36,0,0,0,13,23,0
4,2018,골목상권,네일숍,2,0,100,0,0,75,0,...,53,15,0,15,0,0,11,0,0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162661,2018,골목상권,중식음식점,9,63,37,1,18,29,18,...,42,9,2840,2640,102,1843,1817,843,677,203
162662,2018,전통시장,한의원,0,49,51,0,7,20,10,...,21,0,154,157,0,21,60,31,86,113
162663,2018,골목상권,분식전문점,10,57,43,2,39,34,15,...,33,16,35179,29118,1324,24344,20933,10302,5379,2016
162664,2018,발달상권,치과의원,2,70,31,0,11,21,31,...,14,0,1743,739,12,309,533,771,567,290
162665,2018,골목상권,일반의류,3,0,100,0,0,44,31,...,19,0,0,138,0,0,63,29,0,46

In [30]:
kind = []

In [31]:
for i in base['서비스업종코드명'] :
    if i == '커피-음료' :
        i = '카페'
    elif i == '분식전문점' :
        i = '분식'
    elif i == '중식음식점' :
        i = '중식'
    elif i == '호프-간이주점':
        i = '주점'
    elif i == '한식음식점' :
        i = '한식'
    elif i == '양식음식점' :
        i = '양식'
    elif i == '일식음식점' :
        i = '일식'
    elif i == '치킨전문점' :
        i = '치킨'
    elif i == '패스트푸드점' :
        i = '패스트푸드'
    else :
        i = '없음'
    kind.append(i)

In [82]:
sales["서비스업종코드명2"] = kind

In [83]:
sales

,기준년코드,상권구분코드명,서비스업종코드명,점포수,남성매출비율,여성매출비율,10대매출비율,20대매출비율,30대매출_비율,40대매출비율,...,2124매출비율,남성매출건수,여성매출건수,10대매출건수,20대매출건수,30대매출건수,40대매출건수,50대매출건수,60대이상매출건수,서비스업종코드명2
0,2018,발달상권,고시원,0,100,0,0,0,33,33,...,0,281,0,0,0,93,93,0,95,없음
1,2018,발달상권,법무사사무소,10,66,34,0,34,66,0,...,0,77,39,0,39,77,0,0,0,없음
2,2018,골목상권,문구,4,100,0,0,0,0,50,...,0,23,0,0,0,0,8,7,8,없음
3,2018,골목상권,피부관리실,1,0,100,0,0,0,25,...,0,0,36,0,0,0,13,23,0,없음
4,2018,골목상권,네일숍,2,0,100,0,0,75,0,...,15,0,15,0,0,11,0,0,5,없음
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162661,2018,골목상권,중식음식점,9,63,37,1,18,29,18,...,9,2840,2640,102,1843,1817,843,677,203,중식
162662,2018,전통시장,한의원,0,49,51,0,7,20,10,...,0,154,157,0,21,60,31,86,113,없음
162663,2018,골목상권,분식전문점,10,57,43,2,39,34,15,...,16,35179,29118,1324,24344,20933,10302,5379,2016,분식
162664,2018,발달상권,치과의원,2,70,31,0,11,21,31,...,0,1743,739,12,309,533,771,567,290,없음
162665,2018,골목상권,일반의류,3,0,100,0,0,44,31,...,0,0,138,0,0,63,29,0,46,없음

In [84]:
sales = sales[sales.서비스업종코드명2 != '없음']

In [86]:
sales.reset_index(inplace=True)

In [88]:
del sales['index']

In [90]:
del sales['서비스업종코드명']

In [92]:
sales.columns

Index(['기준년코드', '상권구분코드명', '점포수', '남성매출비율', '여성매출비율', '10대매출비율', '20대매출비율',
       '30대매출_비율', '40대매출비율', '50대매출비율', '60대이상매출비율', '남성매출금액', '여성매출금액',
       '10대매출금액', '20대매출금액', '30대매출금액', '40대매출금액', '50대매출금액', '60대이상매출금액',
       '0006매출비율', '0611매출비율', '1114매출비율', '1417매출비율', '1721매출비율', '2124매출비율',
       '남성매출건수', '여성매출건수', '10대매출건수', '20대매출건수', '30대매출건수', '40대매출건수',
       '50대매출건수', '60대이상매출건수', '서비스업종코드명2'],
      dtype='object')

In [93]:
sales = sales[['기준년코드', '상권구분코드명','서비스업종코드명2', '점포수', '남성매출비율', '여성매출비율', '10대매출비율', '20대매출비율',
       '30대매출_비율', '40대매출비율', '50대매출비율', '60대이상매출비율', '남성매출금액', '여성매출금액',
       '10대매출금액', '20대매출금액', '30대매출금액', '40대매출금액', '50대매출금액', '60대이상매출금액',
       '0006매출비율', '0611매출비율', '1114매출비율', '1417매출비율', '1721매출비율', '2124매출비율',
       '남성매출건수', '여성매출건수', '10대매출건수', '20대매출건수', '30대매출건수', '40대매출건수',
       '50대매출건수', '60대이상매출건수']]

In [99]:
sales.rename(columns={'서비스업종코드명2':'업태구분명'}, inplace=True)

In [100]:
sales

,기준년코드,상권구분코드명,업태구분명,점포수,남성매출비율,여성매출비율,10대매출비율,20대매출비율,30대매출_비율,40대매출비율,...,1721매출비율,2124매출비율,남성매출건수,여성매출건수,10대매출건수,20대매출건수,30대매출건수,40대매출건수,50대매출건수,60대이상매출건수
0,2018,골목상권,치킨,3,58,42,3,19,25,29,...,43,42,3976,2912,185,1202,1701,2003,1357,443
1,2018,발달상권,양식,3,46,54,0,18,36,31,...,16,0,4079,4346,1,1401,3456,2428,760,381
2,2018,골목상권,치킨,2,61,39,2,21,29,25,...,51,30,1561,992,60,521,743,637,444,147
3,2018,골목상권,일식,1,46,54,1,17,24,25,...,53,8,3162,3721,31,1178,1622,1722,1451,879
4,2018,골목상권,패스트푸드,1,63,38,2,20,34,25,...,34,26,6907,5192,324,3433,4139,2681,1110,413
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36312,2018,골목상권,일식,2,69,31,0,11,32,25,...,26,32,741,331,0,119,346,266,205,136
36313,2018,골목상권,중식,1,71,29,1,7,13,30,...,35,1,1010,408,20,96,182,417,375,332
36314,2018,골목상권,한식,20,58,42,2,25,28,20,...,27,16,23399,16177,1040,10964,10080,8161,6300,3033
36315,2018,골목상권,중식,9,63,37,1,18,29,18,...,42,9,2840,2640,102,1843,1817,843,677,203
36316,2018,골목상권,분식,10,57,43,2,39,34,15,...,33,16,35179,29118,1324,24344,20933,10302,5379,2016

In [101]:
sales.to_csv('./서울시상권추정매출2018.csv')

In [103]:
sales.columns

Index(['기준년코드', '상권구분코드명', '업태구분명', '점포수', '남성매출비율', '여성매출비율', '10대매출비율',
       '20대매출비율', '30대매출_비율', '40대매출비율', '50대매출비율', '60대이상매출비율', '남성매출금액',
       '여성매출금액', '10대매출금액', '20대매출금액', '30대매출금액', '40대매출금액', '50대매출금액',
       '60대이상매출금액', '0006매출비율', '0611매출비율', '1114매출비율', '1417매출비율', '1721매출비율',
       '2124매출비율', '남성매출건수', '여성매출건수', '10대매출건수', '20대매출건수', '30대매출건수',
       '40대매출건수', '50대매출건수', '60대이상매출건수'],
      dtype='object')